{% extends "zerver/portico.html" %}

{% block portico_content %}
<div class="error_page">
    <div class="container">
        <img src="/static/images/500art.svg" alt=""/>
        <div class="errorbox">
            <div class="errorcontent">
                <h1 class="lead">确认链接格式不正确.</h1>
                <p>请确保您正确拷贝链接到浏览器了. 如果您再次遇到问题，那可能是我们的错，抱歉.</p>
                <p>请发送邮件到 <a href="mailto:{{ support_email }}">{{ support_email }}</a>，我们将尽快解决问题.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
