{% extends "zerver/portico.html" %}

{% block portico_content %}
<div class="error_page">
    <div class="container">
        <div class="row-fluid">
            <img class="hourglass-img" src="/static/images/timeout_hourglass.png" alt=""/>
            <div class="errorbox">
                <div class="errorcontent">
                    <h1 class="lead">哦，确认链接已经失效.</h1>
                    <p>请联系您团队的管理给您一个新的确认链接.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
