{% extends "zerver/portico.html" %}

{% block portico_class_name %}error{% endblock %}

{% block portico_content %}
<div class="error_page">
    <div class="container">
        <div class="row-fluid">
            <img src="/static/images/400art.svg" alt=""/>
            <div class="errorbox">
                <div class="errorcontent">
                    <h1 class="lead">页面没有找到 (404)</h1>
                    <p>我们正承受压力，但我们仍然爱您.</p>
                    <p>您也可以联系客服.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
