{% extends "zerver/portico.html" %}

{% block customhead %}
{{ super() }}
<meta http-equiv="refresh" content="60;URL='/'">
{% endblock %}

{% block portico_class_name %}error{% endblock %}

{% block portico_content %}
<div class="error_page">
    <div class="container">
        <div class="row-fluid">
            <img src="/static/images/500art.svg" alt="" />
            <div class="errorbox">
                <div class="errorcontent">
                    <h1 class="lead">服务器内部问题</h1>
                    <p>很抱歉当前e建联服务器正忙碌可能有问题!</p>
                    <p>在服务恢复后页面将自动重新加载.</p>
                    <p>您也可以联系客服.</p>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
