
<div id="people-choose" class="choose-teams choose-people-teams">
    <div class="choose-header">
        选择发送人
    </div>
   
    <div class="choose-nav">
        <div class="choose-nav-left">
             <ul class="modal-ul-choose">
                 <li>11</li>
             </ul>
             <div class="icon-sousuo-search">
                <i class="iconfont icon-sousuo icon-search-choose"></i>
                <input placeholder="搜索" class="search-icon"/>
            </div>
            <div id="input-box-left">
           
           </div>
        </div>
        <div class="choose-right-list">
            <div class="icon-sousuo-search choose-right">
                <div class="already-choose">选中(0)</div>
                <button class="button-right-clear">清空</button>
            </div>
            <ul class="box-left-list box-right-list">
              
            </ul>
           <div class="button-bottom">
               <button class="button-anniu button-cancel">取消</button>
               <button class="button-anniu button-confirm button-sure">确定</button>
           </div>
        </div>
    </div>
</div>
