<div id="people-choose" class="choose-teams">
    <div class="choose-header">
        选择发送人
    </div>
    <div class="choose-nav">
        <div class="choose-nav-left">
            <div class="icon-sousuo-search">
                <i class="iconfont icon-sousuo icon-search-choose"></i>
                <input placeholder="搜索" class="search-icon"/>
            </div>
            <div class="input-box">
               <input type="checkbox" class="checkbox-input"/>
               <span>全选</span>
            </div>
            <ul class="box-left-list">
                <li class="input-box-list">
                    <div class="box-list-left">
                        <input type="checkbox"/>
                        <span>设计组</span>
                    </div>
                    <button class="button-right">下级</button>
                </li>
                <li class="input-box-list">
                    <div class="box-list-left">
                        <input type="checkbox"/>
                        <span>产品组</span>
                    </div>
                    <button class="button-right">下级</button>
                </li>
                <li class="input-box-list">
                    <div class="box-list-left">
                        <input type="checkbox"/>
                        <span>运营组</span> 
                    </div>
                    <button class="button-right">下级</button>
                </li>
                <li class="input-box-list">
                    <div class="box-list-left">
                        <input type="checkbox"/>
                        <span>测试组</span>
                    </div>
                    <button class="button-right">下级</button>
                </li>
            </ul>
        </div>
        <div class="choose-right-list">
            <div class="icon-sousuo-search choose-right">
                <div>已选(5)</div>
                <button class="button-right">清空</button>
            </div>
            <ul class="box-left-list">
                <li class="input-box-list box-list-right">
                        <div class="box-list-left">
                            <input type="checkbox"/>
                            <span>李俊伟</span>
                        </div>
                        <button class="button-right">删除</button>
                </li>
                <li class="input-box-list box-list-right">
                        <div class="box-list-left">
                            <input type="checkbox"/>
                            <span>刘凯瑞</span>
                        </div>
                        <button class="button-right">删除</button>
                </li>
                <li class="input-box-list box-list-right">
                        <div class="box-list-left">
                            <input type="checkbox"/>
                            <span>颜如晶</span>
                        </div>
                        <button class="button-right">删除</button>
                </li>
                <li class="input-box-list box-list-right">
                        <div class="box-list-left">
                            <input type="checkbox"/>
                            <span>大王</span>
                        </div>
                        <button class="button-right">删除</button>
                </li>
                <li class="input-box-list box-list-right">
                        <div class="box-list-left">
                            <input type="checkbox"/>
                            <span>臧鸿飞</span>
                        </div>
                        <button class="button-right">删除</button>
                </li>
            </ul>
           <div class="button-bottom">
               <button class="button-anniu button-cancel">取消</button>
               <button class="button-anniu button-confirm">确定</button>
           </div>
        </div>
    </div>
</div>