<div class="footer">
    <section>
        <h3>{{ _("关于e建联") }}</h3>
        <ul>
            <li><a href="/devindex">{{ _("主页") }}</a></li>
            <li><a href="/product_features">{{ _("产品功能") }}</a></li>
            <li><a href="/product_solution">{{ _("解决方案") }}</a></li>
        </ul>
    </section>
    <section>
        <h3>{{ _("帮助") }}</h3>
        <!-- <ul>
            <li><a href="#">帮助中心</a></li>
            <li><a href="#">e建联官网微博</a></li>
        </ul> -->
    </section>
    <section>
        <h3>{{ _("账户") }}</h3>
        <ul>
            <li><a href="/login">登录</a></li>
            <li><a href="/register">注册</a></li>
            <li><a href="/product_vip">升级会员</a></li>
            <li><a href="/product_use">使用条款</a></li>
        </ul>
    </section>
    <section>
        <h3>{{ _("联系我们") }}</h3>
        <ul>
            <li class="icon-left"><i class="iconfont icon-dianhua icon"></i><span >{{ _("010-89593430") }}</span></li>
            <li class="icon-left"><i class="iconfont icon-youjian1 icon icon-right"></i><span>{{ _("zg-ejinalian@zg18.com") }}</span></li>
        </ul>
    </section>
    <div class="safe">
            京ICP备17069418号
    </div>
</div>
