<div class="footer">
    <section>
        <h3>{{ _("关于e建联") }}</h3>
        <ul>
            <li><a href="/devindex">{{ _("主页") }}</a></li>
            <li><a href="/product_features">{{ _("产品功能") }}</a></li>
            <li><a href="/product_solution">{{ _("解决方案") }}</a></li>
            <!-- <li><a href="/plans/">{{ _("Plans &amp; pricing") }}</a></li> -->
            <!-- <li><a href="/team/">{{ _("使用条款") }}</a></li> -->
        </ul>
    </section>
    <section>
        <h3>{{ _("帮助") }}</h3>
        <ul>
            <!-- <li><a href="https://zulip.readthedocs.io/en/latest/contributing/chat-zulip-org.html">{{ _("Community chat") }}</a></li>
            <li><a href="/help/">{{ _("Help center") }}</a></li>
            <li><a href="https://zulip.readthedocs.io/en/latest/">{{ _("Documentation") }}</a></li> -->
            <li><a href="https://twitter.com/zulip/">帮助中心</a></li>
            <li><a href="https://github.com/zulip/zulip/">e建联官网微博</a></li>
        </ul>
    </section>
    <section>
        <h3>{{ _("账户") }}</h3>
        <ul>
            <!-- {% if find_team_link_disabled %}
            {% else %}
            <li><a href="{{ root_domain_uri }}/accounts/find">{{ _("Find account") }}</a></li>
            {% endif %}
            {% if open_realm_creation %}
            <li><a href="{{ root_domain_uri }}/new/">{{ _("New organization") }}</a></li>
            {% endif %}
            {% if login_link_disabled %}
            {% else %}
            <li><a href="{{ login_url }}">{{ _("Login") }}</a></li>
            {% endif %}
            {% if register_link_disabled %}
            {% elif only_sso %}
            {% else %}
            <li><a href="{{ url('register') }}">{{ _("Sign up") }}</a></li>
            {% endif %}
            <li><a href="{{ root_domain_uri }}/terms/">{{ _("Terms of Service") }}</a></li> -->
            <!-- <li><a href="{{ root_domain_uri }}/privacy/">{{ _("公司介绍") }}</a></li> -->
            <li><a href="/login">登陆</a></li>
            <li><a href="/register">注册</a></li>
            <li><a href="/product_vip">升级会员</a></li>
            <li><a href="/product_use">使用条款</a></li>
        </ul>
    </section>
    <section>
        <h3>{{ _("联系我们") }}</h3>
        <ul>
            <li class="icon-left"><i class="iconfont icon-dianhua icon"></i><span >{{ _("010-89593430") }}</span></li>
            <li class="icon-left"><i class="iconfont icon-youjian1 icon icon-right"></i><span>{{ _("gongle@zg18.com") }}</span></li>
            <!-- {# Interactive bots would go here? #}
            <li><a href="/api/">REST API</a></li> -->
        </ul>
    </section>
    <div class="safe">
            京ICP备17069418号
    </div>
</div>
