{% extends "zerver/portico.html" %}

{% block title %}
<title>e建联: 一键联通好管理</title>
{% endblock %}

{% block customhead %}
{{ super() }}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% stylesheet 'portico' %}
{% stylesheet 'landing-page' %}
{{ render_bundle('landing-page') }}

{% endblock %}

{% block portico_content %}

{% include 'zerver/landing_nav.html' %}

<div class="portico-landing why-page no-slide">
    <div class="hero bg-pycon">
        <div class="bg-dimmer"></div>
        <div class="content">
            <h1 class="center">关于e建联</h1>
            <p>了解更多e建联!</p>
        </div>
    </div>
    <div class="main">
        <div class="padded-content">
            <div class="inner-content">
                <div class="photo-description">

                </div>

                <h1>关于e建联</h1>

                <p>
                    e建联集传统的聊天与团队管理于一体。
                </p>

            </div>
        </div>
    </div>
</div>

{% endblock %}
