{# Home tab of the app, containing messages. #}
<div class="message_area_padder message_list" id="main_div">
    <!-- <div class="top-messages-logo">
        <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 40 40" version="1.1">
            <g transform="translate(-297.14285,-466.64792)">
                <circle cx="317.14285" cy="486.64792" r="19.030317" style="stroke-width:1.93936479;"/>
                <path d="m309.24286 477.14791 14.2 0 1.6 3.9-11.2 11.9 9.6 0 1.6 3.2-14.2 0-1.6-3.9 11.2-11.9-9.6 0z"/>
            </g>
        </svg>
    </div> -->
        <div id="group_seeting_choose"  class="empty_feed_notice">312312</div>
        <div id="loading_more_messages_indicator"></div>
        <div id="page_loading_indicator"></div>
        <div id="first_run_message" class="empty_feed_notice">
            <h4>{% trans %}Welcome to Zulip.{% endtrans %}</h4>
            <p>
                {% trans %}
                See, the thing about it is... there aren't any messages
                here for you right now. I'm sure someone will eventually send
                you one.
                {% endtrans %}
            </p>

            <p>
                {% trans %}
                Or, <strong>take matters into your own hands</strong>,
                and <a href="#" class="empty_feed_compose_stream">
                compose a new stream message</a>.
                {% endtrans %}
            </p>
        </div>
        <div id="empty_narrow_message" class="empty_feed_notice">
            <h4>{{ _("Nothing's been sent here yet!") }}</h4>
            <p>
                {% trans %}
                Why not <a href="#" class="empty_feed_compose_stream">
                start the conversation</a>?
                {% endtrans %}
            </p>
        </div>
        <div id="empty_narrow_all_private_message" class="empty_feed_notice">
            <h4>{{ _('You have no private messages yet!') }}</h4>
            <p>
                {% trans %}
                Why not <a href="#" class="empty_feed_compose_private">
                start the conversation</a>?
                {% endtrans %}
            </p>
        </div>
        <div id="empty_narrow_private_message" class="empty_feed_notice">
            <h4>{{ _('You have no private messages with this person yet!') }}</h4>

            <p>
                {% trans %}
                Why not <a href="#" class="empty_feed_compose_private">
                start the conversation</a>?
                {% endtrans %}
            </p>
        </div>
        <div id="empty_narrow_group_private_message" class="empty_feed_notice">
            <h4>{{ _('You have no group private messages with this person yet!') }}</h4>

            <p>
                {% trans %}
                Why not <a href="#" class="empty_feed_compose_private">
                start the conversation</a>?
                {% endtrans %}
            </p>
        </div>
        <div id="empty_narrow_multi_private_message" class="empty_feed_notice">
            <h4>{{ _('You have no private messages with these people yet!') }}</h4>

            <p>
                {% trans %}
                Why not <a href="#" class="empty_feed_compose_private">
                start the conversation</a>?
                {% endtrans %}
            </p>
        </div>
        <div id="silent_user" class="empty_feed_notice">
            <h4>{{ _("You haven't received any messages sent by this user yet!") }}</h4>
        </div>
        <div id="non_existing_user" class="empty_feed_notice">
            <h4>{{ _("This user does not exist!") }}</h4>
        </div>
        <div id="nonsubbed_stream_narrow_message" class="empty_feed_notice">
            <h4>{{ _("You aren't subscribed to this stream and nobody has talked about that yet!") }}</h4>
            <div class="sub_button_row new-style">
                <button class="button white rounded stream_sub_unsub_button sea-green" type="button" name="subscription">
                    {{ _('Subscribe') }}
                </button>
            </div>
        </div>
        <div id="nonsubbed_private_nonexistent_stream_narrow_message" class="empty_feed_notice">
            <h4>{{ _("This stre am does not exist or is private.") }}</h4>
        </div>
        <div id="empty_star_narrow_message" class="empty_feed_notice" style="background: #fff;margin-top: 40%;">
            <!-- <h4>{{ _("You haven't starred anything yet!") }}</h4> -->
            <img src="../../static/img/null.png" alt="">
            <!-- <p>
                {% trans %}
                Learn more about starring messages <a href="/help/star-a-message">
                here</a>.
                {% endtrans %}
            </p> -->
        </div>
        <div id="no_unread_narrow_message" class="empty_feed_notice">
            <h4>{{ _("You have no unread messages!") }}</h4>
        </div>
        <div id="empty_narrow_all_mentioned" class="empty_feed_notice" style="background: #fff;">
            <h4>{{ _("You haven't been mentioned yet!") }}</h4>

            <!-- <p>
                {% trans %}
                Learn more about mentions <a href="/help/at-mention-a-team-member">
                here</a>.
                {% endtrans %}
            </p> -->
        </div>
        <!-- zyc -->
        <div id="management_ctn" class="empty_feed_notice">
            <!-- <div class="management_titleA">
                <div class="my_management">待办事项</div>
                <div class="edit_management">排序</div>
                <div class="generate_log">
                    <p>一键生成日志</p>
                </div>
            </div> -->
            <div class="create_generate_log" id="try-log">
                    <div id="create_log_de">
                            <div class="generate_log_left">
                                <ul class="generate_log_sliber">
                                    <li class="day-report high_light">生成日报</li>
                                    <li class="week-report">生成周报</li>
                                    <li class="month-report">生成月报</li>
                                </ul>
                                <div class="generate_log_close">
                                    <i class="iconfont icon-guanbiUI"></i>
                                </div>
                            </div>
                            <div class="generate_log_right">
                                <div class="loading-img">
                                    <img src="../../static/img/loading.gif">
                                </div>
                            </div>
                            
                    </div>
            </div>
            <i class="management_lineA"></i>
            <!-- <div class="new_task_box">
                    <div class="new_add_task">新增任务</div>
                    <div class="new_task">
                        <input type="text"  id="taskinput" class="new_task_title create_tasttitle" placeholder="请输入任务标题" maxlength="25">
                        <div class="input-append date" id="datetimepicker" data-date="" data-date-format="yyyy-mm-dd">  
                                <span class="new_task_title_data">截止日期</span>
                                <input class="new_task_date create_taskdate" id="daibandata" size="16" type="text" value="" readonly placeholder="请选择截止日期...">
                                <span class="add-on select_date_icon" id="taskdata">
                                    <i data-date-icon="icon-calendar" class="icon-calendar iconfont icon-riqi"></i>
                                </span>  
                                <p class="error_tip"></p>  
                        </div>
                        <div class="save_cancel">
                            <div class="new_task_save">保存</div>
                            <div class="new_task_cancel">取消</div>
                        </div>
                    </div>
            </div> -->
            <!-- <ul class="todo_box">
            </ul> -->
            <!-- <div class="management_titleB">
                <div class="morn_managementtext">已完成任务</div>
                <i class="iconfont icon-xiangyou right_san"></i>
            </div> -->
            <!-- <i class="management_lineA"></i> -->
            <!-- <ul class="completed_box">
            </ul> -->
            <!-- 任务详情 -->
        
        </div>
        {% include "zerver/supervise.html" %}
        <!-- zyc -->

        <div id="empty_search_narrow_message" class="empty_feed_notice">
            <h4>{{ _('Nobody has talked about that yet!') }}</h4>
        </div>
        <div class="message_table focused_table" id="zhome">
            
        </div>
        <div class="message_table" id="zfilt" style="background: #fff;overflow:scroll">
        </div>
        <div id="typing_notifications">
        </div>
        <div id="bottom_whitespace"></div>
    
    </div>

{% include "zerver/message_history.html" %}
{% include "zerver/delete_message.html" %}
{% include "zerver/compose.html" %}
<div id="notifications-area">
</div>
<div id="map-area">
        <div id="map-content">
            <div class="kaoqin-title">
                设置考勤地点
                <i class="iconfont icon-guanbiUI attendance-map-close"></i>
            </div>
            <div id="container">
            </div>
            <div id="myPageTop">
                <table>
                    <tr>
                        <td>
                            <label>请输入关键字：</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="tipinput"/>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- <input id="complete" type="text" placeholder="输入您要定位的地址" /> -->
            <div class="sure-place">
                 地址详情:<span class="place-area"></span>
            </div>
            <div class="place-button">
                 <button class="place-sure">确定</button>
            </div>
        </div>
</div>
<div class="kaoqin-date-choose">
    <div class="kaoqin-date">
        <div class="kaoqin-title">设置考勤日期
            <i class="iconfont icon-guanbiUI attendance_close_week"></i>
        </div>
        <ul class="kaoqin-choose-week">
            <li>
                <input type="checkbox" class="date-checkbox"/>
                <span>星期一</span>
            </li>
            <li>
                <input type="checkbox" class="date-checkbox"/>
                <span>星期二</span>
            </li>
            <li>
                <input type="checkbox" class="date-checkbox"/>
                <span>星期三</span>
            </li>
            <li>
                <input type="checkbox" class="date-checkbox"/>
                <span>星期四</span>
            </li>
            <li>
                <input type="checkbox" class="date-checkbox"/>
                <span>星期五</span>
            </li>
            <li>
                <input type="checkbox" class="date-checkbox"/>
                <span>星期六</span>
            </li>
            <li>
                <input type="checkbox" class="date-checkbox"/>
                <span>星期日</span>
            </li>
            <!-- <li class="divid-line"></li>
            <li>
                <input type="checkbox"/>
                <span>节假日休息自动排班</span>
            </li> -->
        </ul>
    
            <button class="kaoqin-date-area">确定</button>
    </div>
</div>
<div class="modal-log" style="display:none">
    <div class="modal-log-content">
        
    </div>
</div>  
