{% extends "zerver/base.html" %}
{# The app itself. #}
{# Includes some other templates as tabs. #}

{% block page_params %}
{# Insert parameters, which have been encoded with JSONEncoderForHTML. #}
<script type="text/javascript">
    {% autoescape off %}
    var page_params = {{ page_params }};
    {% endautoescape %}
</script>
{% endblock %}

{% block customhead %}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="/static/images/logo/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed">
    <link id="emoji-spritesheet" href="/static/generated/emoji/{{ user_profile.emojiset }}_sprite.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_234130_nem7eskcrkpdgqfr.css">
    <style type="text/css">

        #css-loading {
        background: white;
        position: fixed;
        height: 100%;
        width: 100%;
        padding: 10px;
        top: 0px;
        left: 0px;
        }

    </style>

    {% if nofontface %}
    {# We can't use @font-face on qtwebkit, so use differently minified CSS #}
    {% stylesheet 'app-fontcompat' %}
    {% else %}
    {% stylesheet 'app' %}
    {% endif %}
    {{ minified_js('app')|safe }}

    {{ render_bundle('translations') }}

    {{ render_bundle('katex') }}

    {% include "zerver/topic_is_muted.html" %}

{% endblock %}
{% block content %}

<div id="css-loading">
    <h3>{{ _('Loading...') }}</h3>
    <p>{% trans %}If this message does not go away, please wait a couple seconds and <a id="reload-lnk">reload</a> the page.{% endtrans %}</p>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            function reload() {
                location.reload(true);
            }
            document.getElementById('reload-lnk').addEventListener('click', reload);
        });
    </script>
</div>

{% include "zerver/lightbox_overlay.html" %}
{% include "zerver/subscriptions.html" %}
{% include "zerver/drafts.html" %}
<div id="settings_overlay_container" class="overlay" data-overlay="settings" aria-hidden="true">
    {% include "zerver/settings_overlay.html" %}
</div>

{% include "zerver/navbar.html" %}

<div class="fixed-app">
    <div class="app-main">
        <div class="column-middle column-overlay">
            <div id="tab_bar_underpadding">主页</div>
        </div>
    </div>
</div>
<div class="operating_hints_box">
        <img src="/static/img/success.png" alt="" class="operating_hints_img">
        <div class="operating_hints_ctn">
            删除成员成功！
        </div>
    </div>
<div class="app">
    <div class="alert-box">
        <div class="alert alert_sidebar alert-error home-error-bar" id="connection-error">
            <div class="exit"></div>
            {% trans %}<strong class="message">Unable to connect to
            Zulip.</strong>  Updates may be delayed.{% endtrans %} {{ _('Retrying soon...') }} <a class="restart_get_events_button">{{ _('Try now.') }}</a>
        </div>
        <div class="alert alert_sidebar alert-error home-error-bar" id="zephyr-mirror-error">
            <div class="exit"></div>
            {# The below isn't tagged for translation
            intentionally, because the feature is only used at
            MIT. #}
            <strong>Your Zephyr mirror is not working.</strong>
            <span id="normal-zephyr-mirror-error-text">
                We recommend that
                you <a class="webathena_login">give Zulip the ability to mirror the messages for you via
                WebAthena</a>.  If you'd prefer, you can instead
                <a href="/zephyr-mirror" target="_blank">run the
                Zephyr mirror script yourself</a> in a screen
                session.
            </span>
            <span id="desktop-zephyr-mirror-error-text" class="notdisplayed">To fix
              this, you'll need to use the web interface.</span>
        </div>
        <div class="alert alert_sidebar alert-error home-error-bar" id="home-error"></div>
        <div class="alert alert_sidebar alert-error home-error-bar" id="reloading-application"></div>
    </div>
    <div class="app-main">
        <div class="column-left">
            {% include "zerver/left_sidebar.html" %}
        </div>
        <div class="column_two">
            <input type="text" id="global_search" autocomplete="off">
            <a href="#narrow/is/starred" class="ppp">
                <li class="notice_ctn log_assistant_btn keep_exist" send_id="">
                    <div class="notice_left fix">
                        <i class="iconfont icon-rizhizhushou1 log_assistant_img"></i>
                    </div>
                    <div class="notice_right fix">
                        <div class="notice_top fix">
                            <p class="notice_top_name">日志助手</p>
                            <p class="notice_top_time" name=""></p>
                        </div>
                        <div class="notice_bottom" name="">
                                还没有新的日志
                        </div>
                    </div>
                </li>
            </a>
            <a href="javascript:void(0)" class="">
                <li class="notice_ctn work_order" send_id="">
                    <div class="notice_left fix">
                        <i class="iconfont icon-gongzuotongzhi log_assistant_img"></i>
                    </div>
                    <div class="notice_right fix">
                        <div class="notice_top fix">
                            <p class="notice_top_name">工作通知</p>
                            <p class="notice_top_time" name=""></p>
                        </div>
                        <div class="notice_bottom" name="">
                        </div>
                    </div>
                    <i class="iconfont icon-guanbiUI notice_box_del"></i>
                </li>
            </a>
            <!-- <ul id="stream_filters" class="filters"></ul> -->
            <div class="notice_box"> 
                <div class="group_icon">
                    <span class="icon_qunzu">
                       <i class="icon iconfont icon-pindao"></i>
                    </span>
                    我的群组
                    <i class="icon iconfont icon-xiayiji next-icons"></i>
                </div>
                <div class="organization_team">
                    <span class="icon_qunzu">
                        <i class="icon iconfont icon-pindao"></i>
                     </span>
                     团队组织
                     <i class="icon iconfont icon-xiayiji next-icons"></i>
                </div>
                <ul class="notice_ctn_box">
                    
                </ul>
                <ul class="notice_ctn_boxs">

                </ul>
                <ul class="persistent_data">

                </ul>
            </div>
        </div>
        <div class="column-middle middle_ctn">
            <div class="column-middle-inner tab-content right_content">
                <!-- <i class="column-middle_shodowl"></i>
                <i class="column-middle_shodowr"></i> -->
                <div class="home-title">
                        <span>知工群主1</span>
                        <button>群组设置</button>
                </div>
                <!-- <div class="home_gruop_title">
                    <div class="home_title_body">
                        <div>
                            <span class="already_sub high_light">已订阅</span>
                            <span class="all_group">全部群组</span>
                        </div>
                        <button class="new_setting">新建群组</button>
                    </div>
                </div> -->
             
                <div class="tab-pane active" id="home">
                    <div class="fixed-app" id="floating_recipient_bar" style="display: none;">
                        <div class="app-main recipient_bar_content">
                            <div class="column-middle column-overlay recipient-bar-main">
                                <div class="floating_recipient">
                                    <div style="display: none;" id="current_label_stream" class="recipient_row">
                                        <div class="message_label_clickable message_header message_header_stream right_part"></div>
                                    </div>
                                    <div style="display: none;" id="current_label_private_message" class="recipient_row">
                                        <div class="message_label_clickable message_header message_header_private_message right_part"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="alert-bar-container" class="alert-bar-container" style='display: none;'>
                        <div id="alert-bar" class="alert-bar">
                            <div id="alert-bar-contents" class="alert-bar-contents">
                                <div id="custom-alert-bar-content"></div>
                                <i class="icon-vector-remove close-alert-icon"></i>
                            </div>
                        </div>
                    </div>
                    {% include "zerver/home.html" %}
                </div>
                <div class="move_ctn">

                </div>
            </div><!--/tab-content-->
            
        </div>
        <div class="column-right">
            {% include "zerver/right_sidebar.html" %}
        </div>
        <!--/right sidebar-->
    </div><!--/row-->
    <div class="informational-overlays overlay new-style" data-overlay="informationalOverlays" aria-hidden="true">
        <div class="overlay-content modal-bg">
            <div class="overlay-tabs">
                <button class="button no-style exit">&times;</button>
            </div>
            <div class="overlay-body">
                {% include "zerver/keyboard_shortcuts.html" %}
                {% include "zerver/search_operators.html" %}
                {% include "zerver/markdown_help.html" %}
            </div>
        </div>
    </div>
    {% include "zerver/invite_user.html" %}
    {% include "zerver/bankruptcy.html" %}
    {% include "zerver/logout.html" %}
    {% include "zerver/deprecation_notice.html" %}
    <div class="group_setting"></div>
    <div class='notifications top-right'></div>
</div>
{% endblock %}
