<div class="left-sidebar" id="left-sidebar">
    <div class="bottom_sidebar">
        <ul id="global_filters" class="filters">
            {# Special-case this link so we don't actually go to page top. #}
            <li data-name="private" class="global-filter left_tab private_button" title="{{ _('Private messages') }} (P)">
                    <a href="#narrow/is/private" class="iconfont icon-xiaoxi news_icon">
                        <span class="filter-icon">
                            <!-- <i class="icon-vector-envelope left_tab_icon"></i> -->
                        </span>
                        <!-- <span class="hover-underline">{{ _('Private messages') }}</span> -->
                        <span class="count">
                            <span class="value"></span>
                        </span>
                    </a>
            </li>
            <!-- <li data-name="home" class="global-filter active-filter home-link left_tab" title="{{ _('All messages') }} (Esc)">
                <a href="#">
                    <span class="filter-icon">
                        <i class="icon-vector-home left_tab_icon"></i>
                    </span>
                    <span class="hover-underline">{{ _('All messages') }}</span>
                    <span class="count">
                        <span class="value"></span>
                    </span>
                </a>
                <span class="arrow stream-sidebar-arrow"><i class="icon-vector-chevron-down"></i></span>
            </li> -->
            <!-- 联系人 -->
            <li data-name="mentioned" class="global-filter left_tab contact">
                    <a href="#narrow/is/mentioned" class="iconfont icon-tongxunlu address_book">
                        <span class="filter-icon">
                            <!-- <i class="fa fa-at left_tab_icon"></i> -->
                        </span>
                        <!-- <span class="hover-underline">{{ _('Mentions') }}</span> -->
                        <span class="count">
                            <span class="value"></span>
                        </span>
                    </a>
            </li>
            <!-- 联系人 -->
            <!-- 添加代办事项start -->
            <li data-name="management" class="global-filter left_tab" title="{{ _('management') }} (Esc)" id="management">
                <a href="#narrow/is/management" id="management_refresh" class="iconfont icon-daibanshixiang todo_icon">
                    <span class="filter-icon">
                        <!-- <i class="iconfont icon-caidan left_tab_icon" style="font-size: 12px;"></i> -->
                    </span>
                    <!-- <span class="hover-underline">{{ _('management') }}</span> -->
                    <span class="count">
                        <span class="value"></span>
                    </span>
                </a>
                <!-- <span class="arrow stream-sidebar-arrow"><i class="icon-vector-chevron-down"></i></span> -->
            </li>
            <!-- 添加管理 -->
            <li data-name="supervise" class="global-filter left_tab" title="{{ _('supervise') }} (Esc)" id="management">
                <a href="#narrow/is/supervise" id="supervise" class="iconfont icon-guanli supervise_icon">
                    <span class="filter-icon">
                        <!-- <i class="iconfont icon-caidan left_tab_icon" style="font-size: 12px;"></i> -->
                    </span>
                    <!-- <span class="hover-underline">管理</span> -->
                    <span class="count">
                        <span class="value"></span>
                    </span>
                </a>
                <!-- <span class="arrow stream-sidebar-arrow"><i class="icon-vector-chevron-down"></i></span> -->
            </li>
            <!-- 添加日志助手 -->
            <!-- <li data-name="" class="global-filter left_tab log_assistant_btn" title="{{ _('Private messages') }} (P)" class="log_assistant">
                <a href="javascript:void(0)">
                    <span class="filter-icon">
                        <i class="iconfont icon-rizhizhushou left_tab_icon"></i>
                    </span>
                    <span class="hover-underline">{{ _('Log assistant') }}</span>
                    <span class="count">
                        <span class="value"></span>
                    </span>
                </a>
                <i class="left_tab_line" style="display: none;"></i>
            </li> -->
             <!-- 添加日志助手 -->
            
            <!-- <li data-name="starred" class="global-filter left_tab">
                <a href="#narrow/is/starred">
                    <span class="filter-icon">
                        <i class="icon-vector-star left_tab_icon"></i>
                    </span>
                    <span class="hover-underline">{{ _('Starred messages') }}</span>
                </a>
                <i class="left_tab_line" style="display: none;"></i>
            </li>
            <li data-name="mentioned" class="global-filter left_tab">
                <a href="#narrow/is/mentioned">
                    <span class="filter-icon">
                        <i class="fa fa-at left_tab_icon"></i>
                    </span>
                    <span class="hover-underline">{{ _('Mentions') }}</span>
                    <span class="count">
                        <span class="value"></span>
                    </span>
                </a>
                <i class="left_tab_line" style="display: none;"></i>
            </li> -->
            
        </ul>
        <div id="streams_list" class="zoom-out">
            <div id="streams_header" class="zoom-in-hide"><h4 class="sidebar-title" data-toggle="tooltip" title="{{ _('Subscribed streams') }}">{{ _('STREAMS') }}</h4>
                <i id="streams_inline_jia" class='iconfont icon-tianjia3' data-toggle="" title="{{ _('添加频道') }} (q)"></i>
                <i id="streams_inline_cog" class='icon-vector-cog' data-toggle="tooltip" title="{{ _('Subscribe, add, or configure streams') }}"></i>
                <i id="streams_filter_icon" class='icon-vector-search' data-toggle="tooltip" title="{{ _('Filter streams') }} (q)"></i>
            </div>
            <div id="topics_header">
                <a href="" class="show-all-streams"> <i class="icon-vector-chevron-left"></i>{{ _('All streams') }}</a>
            </div>
            <div id="stream-filters-container" class="scrolling_list">
                <div class="input-append notdisplayed">
                    <input class="stream-list-filter left_sidebar_input" type="text" placeholder="{{ _('Search streams') }}" style="border: 1px solid #A0ACBF;
                    border-radius: 100px;
                    background: #354052;
                    font-size: 12px;
                    color: #A0ACBF;
                    letter-spacing: 0.18px;
                    text-indent: 10px;"/>
                    <button type="button" class="btn clear_search_button" id="clear_search_stream_button">
                        <i class="icon-vector-remove"></i>
                    </button>
                </div>
                <!-- <ul id="stream_filters" class="filters"></ul> -->
            </div>
        </div>
    </div>
</div>
