<div id="panels">
    <div data-process="notifications" class="alert alert-info">
        <span class="close" data-dismiss="alert" aria-label="{{ _('Close') }}">&times;</span>
        <div data-step="1">
            {% trans %}e建联需要你的允许
            <a class="request-desktop-notifications alert-link">才能启用桌面通知.</a>
            {% endtrans %}
        </div>
        <div data-step="2" style="display: none">
            {{ _('We strongly recommend enabling desktop notifications. They help Zulip keep your team connected.') }}
            <span class="buttons">
                <a class="alert-link request-desktop-notifications">{{ _('Enable notifications') }}</a>
                &bull;
                <a class="alert-link exit">{{ _('Ask me later') }}</a>
                &bull;
                <a class="alert-link reject-notifications">{{ _('Never ask on this computer') }}</a>
            </span>
        </div>
    </div>
    <div data-process="email-server" class="alert alert-info red">
        <span class="close" data-dismiss="alert" aria-label="{{ _('Close') }}">&times;</span>
        <div data-step="1">
            {% trans %}e建联需要发邮件确认用户地址并发出通知.{% endtrans %}
            <a class="alert-link" href="https://zulip.readthedocs.io/en/latest/production/email.html" target="_blank">
                {% trans %}查看如何配置电子邮件.{% endtrans %}
            </a>
        </div>
    </div>
</div>
<div class="header">
    <nav class="header-main rightside-userlist" id="top_navbar">
        <div class="column-left">
            <!-- <a class="brand no-style" href="#">

                <div class="company-name">
                    
                </div>
            </a> -->
            <!-- <div class="user_head_box">
                <img src="" alt="" class="user_profile">
            </div>
            <p class="user_head_name"></p> -->
        </div>
        <div class="column-middle" id="navbar-middle">
            <div class="column-middle-inner">
                <div id="streamlist-toggle" {%if embedded %} style="visibility: hidden"{% endif %}>
                    <a href="#" id="streamlist-toggle-button" role="button"><i class="icon-vector-reorder"></i>
                        <span id="streamlist-toggle-unreadcount">0</span>
                    </a>
                </div>
                <div id="searchbox" class="searchbox-rightmargin">
                    <!-- <div id="tab_bar" class="notdisplayed">
                    </div> -->
                    <div class="mid_tittle">
                        <span>e建联</span>
                        <i></i>
                        <span>知工科技有限公司</span>
                    </div>
                    <form id="searchbox_form" class="form-search navbar-search">
                        <div id="search_arrows" class="input-append">
                            <input class="search-query input-block-level" id="search_query" type="text" placeholder="{{ _('Search') }}"
                              autocomplete="off" aria-label="{{ _('Search') }}" title="{{ _('Search') }} (/)"/>
                            {# Start the button off disabled since there is no active search #}
                            <button class="btn search_button" type="button" id="search_exit" disabled="disabled" aria-label="{{ _('Exit search') }}"><i class="icon-vector-remove"></i></button>
                            <a class="search_icon" href="#search-operators" data-overlay-trigger="search-operators" title="{{ _('Search help') }}"><i class="icon-vector-search"></i></a>
                        </div>
                    </form>
                </div>{# /searchbox #}
            </div>
        </div>
        <div class="column-right">
            <div id="userlist-toggle">
                <a href="#" id="userlist-toggle-button" role="button"><i class="icon-vector-group"></i>
                    <span id="userlist-toggle-unreadcount">0</span>
                </a>
            </div>
            <!-- <i class="iconfont icon-gonggao"> -->
                <!-- <i class="prompt_point"></i></i> -->
            <div id="navbar-buttons" {%if embedded %} style="visibility: hidden"{% endif %}>
                <ul class="nav" role="navigation">
                    <li class="dropdown actual-dropdown-menu" id="gear-menu">
                        <a id="settings-dropdown" href="#" role="button" class="dropdown-toggle" data-target="nada" data-toggle="dropdown" title="{{ _('Menu') }} (g)">
                            <!-- <i class="iconfont icon-shezhi2"></i> -->
                            <i class="icon-vector-cog"></i>
                            <!-- <i class="icon-vector-caret-down settings-dropdown-caret"></i> -->
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="settings-dropdown">
                            {#
                            It is quite ingrained in our frontend code that your Home
                            view is a Bootstrap Nav tab, even though we don't show the tab
                            anymore
                            #}
                            <li class="invisible" style="display:none;" role="presentation"><a href="#home" data-toggle="tab"></a></li>
                            <li role="presentation" >
                                <a href="#streams" role="menuitem">
                                    <img src="/static/img/tv@2x.png" class="img-setting img-settings"/> {{ _('Manage streams') }}
                                </a>
                            </li>
                            <li role="presentation" id="show_setting">
                                <a href="#settings" role="menuitem">
                                    <i class="iconfont icon-shezhi img-settings"></i> {{ _('Settings') }}
                                </a>
                            </li>
                            <li class="admin-menu-item" role="presentation" style="display: none;">
                                <a href="#organization" role="menuitem">
                                    <i class="iconfont icon-zhuye img-settings"></i> 
                                    <span>{{ _('Manage organization') }}</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <!-- <li role="presentation">
                                <a href="/user_documentation" target="_blank" role="menuitem">
                                    <i class="iconfont icon-yonghu img-settings"></i> {{ _('User documentation') }}
                                </a>
                            </li> -->
                            <li role="presentation">
                                <a tabindex="0" role="menuitem" data-overlay-trigger="keyboard-shortcuts">
                                    <img src="/static/img/jianpan@2x.png" class="img-setting"/>{{ _('Keyboard shortcuts') }} <span class="hotkey-hint">(?)</span>
                                </a>
                            </li>
                            <li role="presentation">
                                <a tabindex="0" role="menuitem" data-overlay-trigger="markdown-help">
                                    <i class="iconfont icon-bianji img-settings"></i> {{ _('Message formatting') }}
                                </a>
                            </li>
                            <li role="presentation">
                                <a tabindex="0" role="menuitem" data-overlay-trigger="search-operators">
                                    <i class="iconfont icon-sousuo img-settings"></i> {{ _('Search operators') }}
                                </a>
                            </li>
                            <li class="divider" role="presentation"></li>
                            <!-- <li role="presentation">
                                <a href="javascript:void(0)" target="_blank" role="menuitem">
                                    <i class="iconfont icon-xianshi img-settings"></i> {{ _('Desktop & mobile apps') }}
                                </a>
                            </li> -->
                            <!-- <li role="presentation">
                                <a href="javascript:void(0)" target="_blank" role="menuitem">
                                    <i class="iconfont icon-caidan img-settings"></i> {{ _('Integrations') }}
                                </a>
                            </li> -->
                            <!-- <li role="presentation">
                                <a href="javascript:void(0)" target="_blank" role="menuitem">
                                    <img src="/static/img/zuzhi2@2x.png" class="img-setting"/> {{ _('API documentation') }}
                                </a>
                            </li> -->
                            <li role="presentation">
                                <a href="/stats" target="_blank" role="menuitem">
                                    <i class="iconfont icon-tongji img-settings"></i>
                                    <span>{{ _('Statistics') }}</span>
                                </a>
                            </li>
                            <li class="divider border-bottom" role="presentation"></li>
                            {% if enable_feedback %}
                            <li role="presentation">
                                <a href="#feedback" class="feedback" role="menuitem">
                                    <i class="icon-vector-comment"></i> {{ _('Feedback') }}
                                </a>
                            </li>
                            {% endif %}
                            {% if show_invites %}
                            <li role="presentation">
                                <a href="#invite" role="menuitem">
                                    <i class="iconfont icon-tianjia img-settings"></i> {{ _('Invite users') }}
                                </a>
                            </li>
                            <li class="divider border-bottom" role="presentation"></li>
                            {% endif %}
                            {% if show_webathena %}
                            <li title="{% trans %}Grant Zulip the Kerberos tickets needed to run your Zephyr mirror via Webathena{% endtrans %}" id="webathena_login_menu" role="presentation">
                                <a href="#webathena" class="webathena_login" role="menuitem">
                                    <i class="icon-vector-bolt"></i>{{ _('Link with Webathena') }}
                                </a>
                            </li>
                            {% endif %}
                            <li role="presentation">
                                <a href="#logout" class="logout_button" role="menuitem">
                                    <i class="icon-vector-off img-settings"></i> {{ _('Log out') }}
                                </a>
                            </li>
                            {% if show_debug %}
                            <li role="presentation">
                                <a href="#debug" data-toggle="tab" role="menuitem">
                                    <i class="iconfont icon-tianjia "></i> {{ _('Debug') }}
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
