{% extends "zerver/base.html" %}

{# A base template for stuff like login, register, etc.

    Not inside the app itself, but covered by the same structure,
    hence the name.
#}

{% block customhead %}
{% stylesheet 'portico' %}
{{ render_bundle('translations') }}
{% endblock %}

{% block porticocustomhead %}
{{ render_bundle('portico') }}
{% endblock %}

{% block content %}
<div class="portico-container" data-platform="{{ platform }}" style="background-image: url(./static/img/banner.png);">
    <div class="portico-wrap">
        {% include 'zerver/portico-header.html' %}
        {% block portico_content %}

    {% if password_auth_enabled %}
    <script type="text/javascript">
        {% if email %}
        common.autofocus('#id_password');
        {% else %}
        common.autofocus('#id_username');
        {% endif %}
    </script>
    {% endif %}
    <div class="app login-page split-view new-style flex full-page product_use_box">
        <h1 class="product_use_title">知工网络使用条款</h1>
        <ul class="product_use_ctn">
            <li>
                <h2>1、关于</h2>
                <p>本服务条款是您与北京知工网络科技有限公司之间的协议。http://www.zg18.com （下称本服务） 是由北
                    京知工网络科技有限公司提供的互联网软件服务。在本服务创建账户并使用之前，您必须首先同意此条款。
                    此条款在必要时将进行修订，且毋须另行通知。修订后的条款一旦在网页上公布即有效代替原来的服务条款。
                </p>
            </li>
            <li>
                <h2>2、账户</h2>
                <p>您同意并理解您有责任将您与用于获得服务的任何帐户相关的密码保密。您负责对您账户下发生的所有的行
                    为和内容负责。
                </p>
            </li>
            <li>
                <h2>3、内容和版权</h2>
                <p>北京知工网络科技有限公司对您在本服务提交的内容没有所有权，这些内容的所有权仍然归您所有。但是，
                    如果您将页面设置为公开，就意味着您允许其他人查看和共享您的内容。北京知工网络科技有限公司对他人
                    提供的任何内容不在任何方面负责或负有责任，北京知工网络科技有限公司没有义务预先审查此类内容。但
                    是，北京知工网络科技有限公司有权随时决定内容是否合适和与本条款相符；如果发现此类内容违反本条款
                    或在其他方面令人反感，北京知工网络科技有限公司可随时并有绝对酌情权预先审查、转移、拒绝、修改和
                    删除内容，而不需事先通知。本服务的外观设计与专利归北京知工网络科技有限公司所有。本网站的包括但
                    不限于应用程序、源代码、商标、标示图案(LOGO)、界面设计、应用程序编程接口(API)等所关联的所有知
                    识产权均属北京知工网络科技有限公司。用户不得复制、修改、传播或在非本网站所属的服务器上做镜像或
                    者以其它方式进行非法使用。
                </p>
            </li>
            <li>
                <h2>4、隐私政策</h2>
                <p>本网站将尽可能采取一切措施保护用户数据及个人信息资料安全，只根据用户在网站上的行为指示来分发用
                    户的信息，不会向任何第三方公开或共享用户的具体数据。本网站保留使用汇总统计性信息的权利，在不透
                    露单个用户隐私资料的前提下，本网站有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。
                    但以下情况除外：您同意让第三方共享资料；北京知工网络科技有限公司需要听从法庭传票、法律命令或遵
                    循法律程序；您违反了本条款。
                </p>
            </li>
            <li>
                <h2>5、合约变更</h2>
                <p>本网站有权随时对本合约的条款进行修订，一旦本合约的内容发生变更，本网站将会在修订生效日前一个工
                    作日更新。如用户继续使用网络服务，则视为用户接受本网站对合约相关条款所做的修订。
                </p>
            </li>
            <li>
                <h2>6、服务终止</h2>
                <p>您可随时终止您的帐户和/或停用本服务。北京知工网络科技有限公司可随时在某些情况下，不需事先通知，
                    立即终止或暂停您所有或部分帐户和/或本服务之进入。此类服务终止的原因包括但不限于：违反本服务条
                    款；您要求取消或终止您的帐户；需要听从法庭传票、法律命令或遵循法律程序；突发的自然灾害导致的问
                    题；战争、军事行动、暴动或武装叛乱；您没有支付与本服务相关的费用；一旦您的帐户被终止，阁下将无
                    法正常使用本服务。此外，您可以选择删除您账户下的所有信息和内容。
                </p>
            </li>
            <li>
                <h2>7、法律适用</h2>
                <p>本合约的订立、执行和解释以及争议的解决均应适用中华人民共和国法律并受中国法院管辖。协议双方就本
                    合约内容或其执行发生任何争议，应首先力争友好协商解决；协商不成时，任何一方均可向北京知工网络科
                    技有限公司注册地所在的人民法院提起诉讼。©北京知工网络科技有限公司 保留一切权利。
                </p>
            </li>
        </ul>
    </div>
    <i></i>
    <script type="text/javascript">
    if (window.location.hash.substring(0, 1) === "#") {
        /* We append the location.hash to the formaction so that URL can be
        preserved after user is logged in. See this:
        https://stackoverflow.com/questions/5283395/url-hash-is-persisting-between-redirects */
        var email_formaction = $("#login_form").attr('action');
        $("#login_form").attr('action', email_formaction + '/' + window.location.hash);
        $("#google_login_form input[name='next']").attr('value', '/' + window.location.hash);
        $("#social_login_form input[name='next']").attr('value', '/' + window.location.hash);

        var sso_address = $("#sso-login").attr('href');
        $("#sso-login").attr('href', sso_address + window.location.hash);
    }
    </script>

{% endblock %}
        <div class="product_vip_ctn_box">
          <!-- <h1>感谢您对e建联的支持，我们将持续为您提供更优质的服务</h1> -->
        
        </div>
    </div>
    {% include 'zerver/footer.html' %}
</div>
{% endblock %}
