{% extends "zerver/portico_signup.html" %}
{% block portico_content %}


<div class="flex new-style app portico-page">
    <div class="inline-block">
        <!-- <div class="lead">
            <h1 class="get-started">{{ _('Reset your password') }}</h1>
        </div> -->

        <div class="app-main forgot-password-container white-box new-style">

            <!-- <p>忘记了你的密码?没问题，我们会发送一个链接，把你的密码重置到你注册的邮箱。</p> -->

            <form method="post" class="form-horizontal" action="{{ url('zerver.views.auth.password_reset') }}">
                {{ csrf_input }}
                <!-- <div class="new-style">
                    <div class="input-box horizontal moving-label">
                        <div class="inline-block relative">
                            <input id="id_email" class="required" type="text" name="email"
                              value="{% if form.email.value() %}{{ form.email.value() }}{% endif %}"
                              maxlength="100" required />
                            <label for="id_email" class="">{{ _('Email') }}</label>
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                <div class="alert alert-error">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <button type="submit">{{ _('重置密码') }}</button>

                    </div>
                </div> -->
                <div class="input-box no-validate">
                        <div class="reset_title">忘记密码</div>
                        <div class="phone_number_box">
                            <span class="area_code">+86</span>
                            <input class="phone_number"  placeholder="请输入手机号"/>
                        </div>
                        <div class="verification_box">
                            <input class="verification" placeholder="请输入验证码" />
                            <input type="button" class="get_verification" value="获取验证码"/>
                        </div>
                        <div class="registered_password_box">
                            <input class="registered_password" placeholder="请设置密码"/>
                            <i class="iconfont icon-yanjingguan eyeclose r_eyeicon"></i>
                        </div>

                        <!-- <input type="email" id="email" class="email" name="email" value="" required /> -->
                        <!-- <label for="email">Email</label> -->

                        <!-- <div class="alert alert-error email-frontend-error"></div> -->
                        <!-- {% if form.email.errors %}
                            {% for error in form.email.errors %}
                            <div class="email-backend-error alert alert-error">{{ error }}</div>
                            {% endfor %}
                        {% endif %} -->
                        <button class="full-width" type="submit" name="">提交</button>
                    </div>
                    
            </form>
            <div class="actions if-zulip-electron"><!-- only show if on `ZulipElectron` -->
                <a class="back-to-login" href="{{login_url}}"><i class="fa fa-arrow-left"></i> Back to the login page</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    common.autofocus('#id_email');
</script>

{% endblock %}
