<div class="new_task_box">
        
        <div class="new_add_task"><i class="iconfont icon-tianjia3" style="margin-right:10px"></i>新增任务</div>
        <div class="new_task">
            <input type="text"  id="taskinput" class="new_task_title create_tasttitle" placeholder="请输入任务标题" maxlength="25">
            <div class="input-append date" id="datetimepicker" data-date="" data-date-format="yyyy-mm-dd">  
                    <span class="new_task_title_data">截止日期</span>
                    <input class="new_task_date create_taskdate" id="daibandata" size="16" type="text" value="" readonly placeholder="请选择截止日期...">
                    <span class="add-on select_date_icon" id="taskdata">
                        <i data-date-icon="icon-calendar" class="icon-calendar iconfont icon-riqi"></i>
                    </span>  
                    <p class="error_tip"></p>  
            </div>
            <div class="save_cancel">
                <div class="new_task_save">保存</div>
                <div class="new_task_cancel">取消</div>
            </div>
        </div>
</div> 