<div class="attendance_top fix">
                <div class="attendance_top_left fix">
                    <p class="attendance_group_tilte">考勤组</p>
                    <div class="attendance_groups fix">
                        {{#each attendances_list}}
                            <div class="attendance_groups_list" attendances_id="{{attendances_id}}">{{attendances_name}}</div>
                        {{/each}}
                    </div>
                </div>
                <div class="attendance_top_right fix">
                    <p class="attendance_screen_title">按时间筛选</p>
                    <div>
                        <input type="text" class="calendar_screen_select_y" id="calendar_screen_select_y" value="2018-10-11">
                    </div>
                </div>
            </div>