<div class="attendance_md">
    <div class="attendance_box">
        <div class="attendance_head fix">
            <ul class="attendance_tab fix">
                <li>考勤统计</li>
                <li>考勤管理</li>
                <i class="iconfont icon-guanbiUI attendance_close"></i>
            </ul>
        </div>
        <div class="attendance_ctn">
                
        </div>
    </div>
</div>