<div class="attendance_md">
    <div class="attendance_box">
        <div class="attendance_head">
            <ul class="attendance_tab">
                <li class="high_light attendance_statistics ">考勤统计</li>
                <li class="attendance_mangement">考勤管理</li>
                <i class="iconfont icon-guanbiUI attendance_close"></i>
            </ul>
        </div>
        <div class="attendance_ctn">
       
        </div>
         <div class="toast-alert-button">
             提交成功
         </div>
    </div>
</div>