<div class="attendance_md">
    <div class="attendance_box">
        <div class="attendance_head">
            <ul>
                <li>考勤统计</li>
                <li>考勤管理</li>
                <i></i>
            </ul>
        </div>
        <div class="attendance_ctn">
            <div class="attendance_top">
                <div class="attendance_top_left">
                    <p>考勤组</p>
                    <div>
                        <div>朝阳门考勤组</div>
                        <div>五间房考勤组</div>
                    </div>
                </div>
                <div class="attendance_top_right">
                    <p>按时间筛选</p>
                    <div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="attendance_middle">
                <div>
                    <p>日统计</p>
                    <p><span>49/</span><span>51</span></p>
                </div>
                <i></i>
                <div>
                    <span>迟到3人:</span><span>二狗子</span>
                    <span>缺卡1人:</span><span>二狗子</span>
                    <span>外勤20人:</span><span>二狗子</span>
                    <span>请假0人:</span><span>二狗子</span>
                </div>
            </div>
            <div class="attendance_bottom">
                <div>
                    <p>考勤组全部成员</p>
                    <div>
                        <input type="text">
                        <i></i>
                    </div>
                </div>

                <ul>
                    <li>
                        <div>
                            <img src="" alt="">
                        </div>
                        <p></p>
                        <div>
                            <span>查看考勤日历</span>
                            <i></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>