 {{!-- 日历板块 --}}
            
                <div class="calendar_box">
                    <div class="calendar_head fix">
                        <ul class="calendar_state fix">
                            <li><span class="green"></span><span>正常</span></li>
                            <li><span class="yellow"></span><span>外勤、请假</span></li>
                            <li><span class="red"></span><span>异常（缺卡、迟到、早退）</span></li>
                        </ul>
                        <div class="calendar_screen fix">
                            <p class="calendar_screen_title">筛选:</p>
                            {{!-- <p class="calendar_screen_select">2018年</p> --}}
                            <input type="text"  id="calendar_screen_select" class="calendar_screen_select" value="2018">
                        </div>
                        <div class="calendar_return">
                            返回
                        </div>
                    </div>
                    
                </div>
           
            {{!-- 日历板块 --}}