<div class="calendar_place_box fix">
    <p class="calendar_place_title">朝阳门考勤组</p>
    <p class="calendar_place_set">(<span>上午09:00</span>/<span>下午18:00</span>)</p>
</div>
<ul class="calendar_time_box">
    <li class="calendar_time_up fix">
        <div class="calendar_time_up_left">
            <span>上班打卡&nbsp;</span>
            <span>08:45</span>
        </div>
        <div class="calendar_time_up_right">
            <span class="calendar_time_place">华普国际大厦</span>
            <span class="calendar_time_state">正常</span>
        </div>
    </li>
    <li class="calendar_time_up fix">
        <div class="calendar_time_up_left">
            <span>下班打卡&nbsp;</span>
            <span>08:45</span>
        </div>
        <div class="calendar_time_up_right">
            <span class="calendar_time_place">华普国际大厦</span>
            <span class="calendar_time_state">正常</span>
        </div>
    </li>
</ul>