<div class="calendar_card">
    <div class="calendar_card_head">
        <p class="calendar_card_head_title">补卡申请</p>
        <i class="iconfont icon-guanbiUI calendar_card_close"></i>
    </div>
    <div class="calendar_card_ctn">
        <div class="calendar_card_time_box fix">
            <p class="calendar_card_time_title">补卡时间</p>
            <input type="text" id="calendar_card_time">
        </div>
        <p class="calendar_card_explain_title">缺卡说明</p>
        <div class="calendar_card_explain_box">
            <textarea name="" id="calendar_card_explain_input" cols="30" rows="10" style="resize:none" ></textarea>
            <div class="calendar_card_addimg_box">
                <div class="calendar_card_addimg">
                </div>
                <p class="calendar_card_addimg_title">添加图片</p>
            </div>
        </div>
        <p class="calendar_card_send_title">发送至：</p>
        <div class="calendar_card_send">
            <div class="calendar_card_add">

            </div>
            <p class="calendar_card_add_title">添加成员</p>
        </div>
        <div class="calendar_card_submit">
            提交
        </div>
    </div>
</div>