    {{#each data}}
    <li 
        class="input-box-list box-list-right box_list_right " 
        key-data={{id}}>
                <div class="box-list-left">
                    <span class="name-list"
                    >{{name}}</span>
                </div>
                <button class="button-right-delete">删除</button>
    </li>
    {{/each}}