<div id="people-choose" class="choose-teams choose-people-teams">
    <div class="choose-header">
        选择发送人
    </div>
    <div class="choose-nav">
        <div class="choose-nav-left">
            <div class="icon-sousuo-search">
                <i class="iconfont icon-sousuo icon-search-choose"></i>
                <input placeholder="搜索" class="search-icon"/>
            </div>
            <div class="input-box">
               <input type="checkbox" class="checkbox-input"/>
               <span>全选</span>
            </div>
            <ul class="box-left-list">
                {{#each data}}
                 <li class="input-box-list">
                    <div class="box-list-left">
                        <input type="checkbox"  inputid={{@key}} class="choose-check"/>
                        <span>{{this}}</span>
                    </div>
                    <button class="button-right next-right" button-key={{@key}}>下级</button>
                </li>
                 {{/each}}
              
            </ul>
        </div>
        <div class="choose-right-list">
            <div class="icon-sousuo-search choose-right">
                <div>已选(5)</div>
                <button class="button-right">清空</button>
            </div>
            <ul class="box-left-list box-right-list">
              
            </ul>
           <div class="button-bottom">
               <button class="button-anniu button-cancel">取消</button>
               <button class="button-anniu button-confirm button-sure">确定</button>
           </div>
        </div>
    </div>
</div>