
{{!-- <div id="people-choose" class="choose-teams choose-teams-list">
    <div class="choose-header">
        选择发送人
    </div>
    <div class="choose-nav"> --}}
        {{!-- <div class="choose-nav-left"> --}}
            <div class="icon-sousuo-search">
                <i class="iconfont icon-sousuo icon-search-choose"></i>
                <input placeholder="搜索" class="search-icon"/>
            </div>
            <div class="select-choose">
               <button class="back-choose">选择人员</button>
               <div class="back-title-people">
                   <i class="iconfont icon-xiangyou"/>
                   <span>{{channels}}</span>
               </div>
            </div>
            <div class="input-box">
               <label><input type="checkbox" class="checkbox-inputs"/>全选</label>
               {{!-- <span>全选</span> --}}
            </div>
            <ul class="box-left-list box-choose-lefts">
                {{#each datalists}}
                 <li class="input-box-list input-detail-box" input-key ="1" avatar={{avatarurl}}>
                    <div class="box-list-left">
                        <label><input 
                        type="checkbox" 
                        data-key={{id}} 
                        {{#if checked}}checked="checked"{{/if}}
                        class="choose-list-box"/>{{fullname}}</label>
                </li>
                 {{/each}}
            </ul>
        {{!-- </div> --}}
        {{!-- <div class="choose-right-list">
            <div class="icon-sousuo-search choose-right">
                <div class="already-choose">已选(0)</div>
                <button class="button-right">清空</button>
            </div>
            <ul class="box-left-list box-right-list">
               
              
            </ul>
           <div class="button-bottom">
               <button class="button-anniu button-cancel">取消</button>
               <button class="button-anniu button-confirm">确定</button>
           </div>
        </div>
    </div>
</div> --}}
