{{#each arr}}
<li>
   <a href={{href}}>
        <img class="search_avatar" src={{avatar}}/>
        <div>
            <div>{{name}}</div>
            <div>{{{match_content}}}</div> 
        </div>
   </a>
</li>
{{/each}}