  {{#each datalist}}
                <li class="input-box-list box-list-right">
                        <div class="box-list-left">
                            <input type="checkbox"/>
                            <span>{{fullname}}</span>
                        </div>
                        <button class="button-right">删除</button>
                </li>
 {{/each}}