<div id="people-choose" class="choose-teams choose-teams-list">
    <div class="choose-header">
        选择发送人
    </div>
    <div class="choose-nav">
        <div class="choose-nav-left">
            <div class="icon-sousuo-search">
                <i class="iconfont icon-sousuo icon-search-choose"></i>
                <input placeholder="搜索" class="search-icon"/>
            </div>
            <div class="select-choose">
               <button class="back-choose">选择联系人</button>
               <div>
                   <i class="iconfont icon-xiangyou"/>
                   <span>{{channels}}</span>
               </div>
            </div>
            <div class="input-box">
               <input type="checkbox" class="checkbox-input"/>
               <span>全选</span>
            </div>
            <ul class="box-left-list">
                {{#each data}}
                 <li class="input-box-list" avatar={{avatarurl}}>
                    <div class="box-list-left">
                        <input type="checkbox" class="choose-list-box" data-key={{id}} />
                        <span>{{fullname}}</span>
                    </div>
                </li>
                 {{/each}}
            </ul>
        </div>
        <div class="choose-right-list">
            <div class="icon-sousuo-search choose-right">
                <div>已选(5)</div>
                <button class="button-right">清空</button>
            </div>
            <ul class="box-left-list box_right">
               
              
            </ul>
           <div class="button-bottom">
               <button class="button-anniu button-cancel">取消</button>
               <button class="button-anniu button-confirm">确定</button>
           </div>
        </div>
    </div>
</div>