{{#each completed_data}}
<li class='completed'>
    <div>
        <input type='checkbox' class='completed_checkbox checked' checked='checked' inputid="{{id}}">
        <p class='completed_ctn' taskid="{{id}}">{{task}}</p>
    </div>
</li>
{{/each}}