<div class="compose_not_subscribed">
    <p>
        您没有订阅这个群组。如果其他用户回复您的邮件，您将不会收到通知
    </p>
    <div>
        <button id="error-message-sub-button" class="btn btn-warning subscribe-button sub_unsub_button">{{t "Subscribe" }}</button><button type="button" id="compose_not_subscribed_close" class="close">&times;</button>
    </div>
</div>
