<div class="setting_body">
    <h1>群组设置</h1>
    <div class="color-setting-total">
        <span class="color-setting">{{name}}</span>
        <span>{{name}}</span>
    </div>
    <div>群组颜色</div>
    <div>群组成员</div>
</div>