<div class="invite_members_md">
    <div class="invite_members_box">
        <i class="iconfont icon-guanbiUI invite_members_close"></i>
        <div class="invite_members_search_box">
            <i class="iconfont icon-sousuo1 invite_members_icon"></i>
            <input type="text" class="invite_members_search" style="border:none;">
        </div>
        <p class="invite_members_title">链接邀请</p>
        <div class="invite_members_url fix">
            <input type="text" class="invite_members_url_input">
            <div class="invite_members_url_btn">
                复制链接
            </div>
        </div>
        <p class="invite_members_qrtitle">团队二维码</p>
        <div class="invite_members_qrcode">

        </div>
    </div>
</div>