<div class="invited_users_box fix">
    <a href="#invite" class="invited_users">
        <i class="iconfont icon-tianjia3 users_icon"></i>
    </a>
    <a href="#invite" class="invited_users_title">邀请新同事加入</a>
</div>