<ul class="manage_groups">
    <li class="manage_groups_list fix common_img">
        <div class="manage_groups_kaiqin_img">
            <i class="iconfont icon-kaoqin1 kaoqin1_img"></i>
        </div>
        <p class="manage_groups_title">考勤</p>
    </li>
    <li class="manage_groups_list fix common_check">
        <div class="manage_groups_kaiqin_img">
            <i class="iconfont icon-kaoqin1 kaoqin1_img"></i>
        </div>
        <p class="manage_groups_title">审批</p>
    </li>
      <li class="manage_groups_list fix common_img">
        <div class="manage_groups_kaiqin_img">
            <i class="iconfont icon-kaoqin1 kaoqin1_img"></i>
        </div>
        <p class="manage_groups_title">资料</p>
    </li>
      <li class="manage_groups_list fix common_img">
        <div class="manage_groups_kaiqin_img">
            <i class="iconfont icon-kaoqin1 kaoqin1_img"></i>
        </div>
        <p class="manage_groups_title">任务</p>
    </li>
      <li class="manage_groups_list fix common_img">
        <div class="manage_groups_kaiqin_img">
            <i class="iconfont icon-kaoqin1 kaoqin1_img"></i>
        </div>
        <p class="manage_groups_title">公告</p>
    </li>
</ul>