  {{#each all_person}}
  <li class="choose-group-people">
             <img src={{avatarUrl}} />
             {{!-- <span>{{this}}</span> --}}
             <div>{{short_names name}}</div>
  </li>
  {{/each}}