<div class="organization_add_group_popover">
    <p class="organization_add_group_title">
        新增部门
    </p>
    <div class="fix">
        <div class="organization_add_group_name">
            部门名称:
        </div>
        <input type="text" placeholder="请输入名称" class="organization_add_group_input">
    </div>
    <div class="organization_add_group_bottom fix">
        <div class="organization_add_group_cancel">
            取消
        </div>
        <div class="organization_add_group_finish">
            完成
        </div>
    </div>
</div>