<ul class="organization_team_single_box">
    <li class="fix organization_team_single">
        <div class="organization_team_single_img_box">
            <img src="" alt="" class="organization_team_single_img">
        </div>
        <p class="organization_team_single_name">
            小左
        </p>
    </li>
</ul>   