<div class="organization_team_box fix">
    <div class="organization_team_head">
        <p>知工网络科技有限公司</p>
        <ul class="organization_team_btn">
            {{#compare identity '==' 2}}
            <li class="management_team">团队管理</li>
            {{else}}
                {{#compare identity '==' 1}}
                <li class="management_team">团队管理</li>
                {{else}}
                <li class="quit_team">退出团队</li>
                {{/compare}}
            {{/compare}}
            <li class="invite_members">邀请成员</li>
        </ul>
    </div>
</div>
<div class="organization_team_bottom_box">

</div>