<div class="organization_chart_group_list_box">
    <div class="organization_chart_group_add">
        新增部门
    </div>
    <ul class="organization_chart_group_list">
        <li>
            <span>
                董事办
            </span>
            <span>
                (2人)
            </span>
        </li>
        <li>
            <span>
                设计部
            </span>
            <span>
                (5人)
            </span>
        </li>
    </ul>
</div>