<div class="organization_chart_group_detail_box">
    <div class="new_group_ctn">
        <div class="branch_box fix">
            <p class="branch_name" department_id="{{init_group.id}}">
                {{init_group.name}}
            </p>
            <i class="iconfont icon-shezhi3 branch_icon"></i>
            <div class="branch_ctn">
                <div class="branch_change_name">
                    修改部门名称
                </div>
                <div class="branch_delete_group">
                    删除部门
                </div>
            </div>
        </div>
        <div class="fix branch_operation">
            <input type="text" class="new_group_name" value="">
            <div class="new_group_cancle">
                取消
            </div>
            <div class="new_group_save">
                保存
            </div>
        </div>
        <div class="fix">
            <div class="invite_new_member">
                邀请成员
            </div>
            <div class="adjust_department">
                调整部门
            </div>
            <div class="batch_delete">
                批量删除
            </div>
        </div>
    </div>
    <ul class="new_group_box">
        <li class="fix">
            <p>
                姓名
            </p>
            <p>
                账户
            </p>
        </li>
        {{#each user_list}}
        <li class="fix" user_id="{{id}}">
            <input type="checkbox">
            <p>{{name}}</p>
            <p>18888888888</p>
        </li>
        {{/each}}
    </ul>
</div>