<div class="organization_chart_group_delete_box">
    <div class="organization_chart_group_delete_head fix">
        <p>提示</p>
        <i class="iconfont icon-guanbiUI organization_chart_group_delete_close"></i>
    </div>
    <div class="organization_chart_group_delete_ctn">
        确认删除该部门?
    </div>
    <div class="organization_chart_group_delete_bottom fix">
        <div class="organization_chart_group_delete_cancel">
            取消
        </div>
        <div class="organization_chart_group_delete_ensure">
            确定
        </div>
    </div>
</div>