<div class="organization_chart_ctn_team_box">
    <div class="fix disband_phone_box">
        <div class="disband_name">
            手机号:
        </div>
        <input type="text" class="disband_phone">
        {{!-- <div class="disband_time">
            获取验证码
        </div> --}}
        <input type="button" value="获取验证码" class="disband_time"></input>
    </div>
    <div class="fix disband_code_box">
        <div class="disband_code">
            验证码:
        </div>
        <input type="text" class="disband_input">
    </div>
    <div class="disband_tip">
        如果你的企业决定不再使用e建联，可以选择删除当前企业，删除后企业所有数据都将删除，并且无法撤销，请谨慎操作。
    </div>
    <div class="disband_ensure">
        确认解散
    </div>
</div>