<ul class="organization_team_dept_box">
    <li class="organization_team_dept_name">
        <p class="organization_team_dept_ctn">
            <span>董事办</span>
            <span>(2人)</span>
        </p>
    </li>
</ul>