<div class="organization_team_box fix">
    <div class="organization_team_head">
        <p>知工网络科技有限公司</p>
        <ul class="organization_team_btn">
            <li class="management_team">团队管理</li>
            <li class="invite_members">邀请成员</li>
        </ul>
    </div>
</div>