<div class="organization_chart_md">
    <div class="organization_chart_box">
        <div class="organization_chart_head">
            <i class="iconfont icon-guanbiUI organization_chart_close"></i>
            <ul class="organization_chart_head_tab fix">
                <li class="organization_chart_setting color_text bottom_line">
                    团队设置
                </li>
                <li class="organization_chart_group">
                    组织结构
                </li>
            </ul>
        </div>
        <div class="organization_chart_body fix">

            <div class="organization_chart_change_box">

            </div>
        </div>
    </div>
</div>