<div class="organization_chart_ctn_child_box">
    <div class="organization_chart_ctn_child_add">
        添加子管理员
    </div>
    <ul class="organization_chart_ctn_child">
        <li class="fix">
            <div>
                <img src="" alt="">
            </div>
            <p>远哥</p>
            <p>删除</p>
        </li>
        <li class="fix">
            <div>
                <img src="" alt="">
            </div>
            <p>远哥</p>
            <p>删除</p>
        </li>
    </ul>
</div>