<div class="organization_chart_md">
    <div class="organization_chart_box">
        <div class="organization_chart_head">
            <i class="iconfont icon-guanbiUI organization_chart_close"></i>
            <ul class="organization_chart_head_tab fix">
                <li class="organization_chart_setting color_text bottom_line">
                    团队设置
                </li>
                <li class="organization_chart_group">
                    组织结构
                </li>
            </ul>
        </div>
        <div class="organization_chart_body fix">
            <ul class="organization_chart_tab">
                <li class="organization_chart_basic_btn color_li">
                    <i class="iconfont icon-jibenxinxi color_icon"></i>
                    <p class="color_text">基本信息</p> 
                </li>
                <li class="organization_chart_master_btn">
                    <i class="iconfont icon-genghuanzhuguanliyuan"></i>
                    <p>更换主管理员</p>
                </li>
                <li class="organization_chart_child_btn">
                    <i class="iconfont icon-genghuanziguanliyuan"></i>
                    <p>更换子管理员</p>
                </li>
            </ul>
            <div class="organization_chart_change_box">

            </div>
        </div>
    </div>
</div>