<ul class="organization_team_dept_box">
    {{#each department_lists}}
    <li class="organization_team_dept_name">
        <p class="organization_team_dept_ctn">
            <span>{{name}}</span>
            <span>({{num}}人)</span>
        </p>
    </li>
    {{/each}}
</ul>