<ul class="organization_chart_tab">
    <li class="organization_chart_basic_btn color_li">
        <i class="iconfont icon-jibenxinxi color_icon"></i>
        <p class="color_text">基本信息</p> 
    </li>
    {{#compare identity '==' 2}}
    <li class="organization_chart_master_btn">
        <i class="iconfont icon-genghuanzhuguanliyuan"></i>
        <p>更换主管理员</p>
    </li>
    <li class="organization_chart_child_btn">
        <i class="iconfont icon-genghuanziguanliyuan"></i>
        <p>更换子管理员</p>
    </li>
    <li class="organization_chart_team_btn">
        <i class="iconfont icon-jiesantuandui"></i>
        <p>解散团队</p>
    </li>
    {{else}}
    <li class="organization_chart_out_btn">
        <i class="iconfont icon-jiesantuandui"></i>
        <p>退出团队</p>
    </li>
    {{/compare}}
</ul>