<div class="organization_chart_ctn_basic_box">
    <ul class="organization_chart_ctn_basic">
        <li class="organization_chart_ctn_basic_title fix">
            <p>项目名称:</p>
            <input type="text">
        </li>
        <li class="organization_chart_ctn_basic_case fix">
            <p>工地施工情况:</p>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </li>
    </ul>
    <div class="organization_chart_ctn_basic_save">
        保存
    </div>
</div>