<div class="organization_chart_group_list_box">
    <div class="organization_chart_group_add">
        新增部门
    </div>
    <ul class="organization_chart_group_list">
        {{#each department_lists}}
        <li>
            {{name}}
        </li>
        {{/each}}
    </ul>
</div>