<div class="paging_box_receive">
    <ul class="paging_receive">
        <li class="paging_receive_prev">上一页</li>
        <li class="paging_btn_receive blue_light">1</li>
        {{#each page}}
            <li class="paging_btn_receive">{{this}}</li>
        {{/each}}
        <li class="paging_receive_next">下一页</li>
    </ul>
</div>