<div class="paging_box_send">
    <ul class="paging_send">
        <li class="paging_send_prev">上一页</li>
        <li class="paging_btn_send blue_light">1</li>
        {{#each page}}
            <li class="paging_btn_send">{{this}}</li>
        {{/each}}
        <li class="paging_send_next">下一页</li>
    </ul>
</div>