<div class="personal_space_box">
    <div class="personal_space_ctn">
        <p class="personal_space_titleA">暂无考勤组，通知管理员</p>
        <p class="personal_space_titleB">您需要处于考群组内才可打卡</p>
        <img src="../../static/icons/type_icon/pic.png" alt="" class="personal_space_img">
    </div>
</div>