<div class="ask-for-leave-title">
  <span class="first-icon"><i class="iconfont icon-xiayiji "></i></span>
   <span>工程进度汇报</span>
</div>
<div class="container container-control">
    <br>
        <form class="form-horizontal" role="form" id="form-test">
            <div class="form-group form-group-common ">
                <span style="color:red" class="require-content require-moment">*</span>
                <label for="username" class="col-sm-1 control-label control-labels">项目名称:</label>
                <div class="col-md-12">
                    <input type="text" class="form-control form-people" id="username" name="username" placeholder="请输入...">
                </div>
            </div>
            <div class="form-group form-group-common">
                <span style="color:red" class="require-content ">*</span>
                <label for="construct" class="col-sm-1 control-label control-labels ">工地施工情况:</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control  form-people  form-reason " id="construct"  placeholder="请输入…"></textarea>
                </div>
            </div> 
            <div class="form-group form-group-common">
                <span style="color:red" class="require-content ">*</span>
                <label for="emails" class="col-sm-1 control-label control-labels">质量检测情况:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-people" id="emails" placeholder="请输入...">
                </div>
            </div>
             <div class="form-group form-group-common">
                <label for="quality_problem" class="col-sm-1 control-label control-labels ">工程存在问题:</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control  form-people  form-reason " id="quality_problem"  placeholder="请输入…"></textarea>
                </div>
            </div> 
             <div class="form-group form-group-common">
                <label for="solve_problem" class="col-sm-1 control-label control-labels ">问题解决方案:</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control  form-people  form-reason " id="quality_problem"  placeholder="请输入…"></textarea>
                </div>
            </div> 
             <div class="form-group form-group-common">
                <label for="quality_improvement" class="col-sm-1 control-label control-labels ">要求工人改进:</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control  form-people  form-reason " id="quality_improvement"  placeholder="请输入…"></textarea>
                </div>
            </div> 
             <div class="form-group form-group-common">
                <label for="coordinate" class="col-sm-1 control-label control-labels ">需要协调部门:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control  form-people " id="coordinate"  placeholder="请输入需要协调的部门..."></textarea>
                </div>
            </div> 
            <div class="form-group form-group-common">
                 <span style="color:red" class="require-content require-moment">*</span>
                 <label for="newplan_datetimepicker1" class="col-sm-1 control-label control-labels">日期:</label>
                 <div class="input-append date" id="newplan_datetimepicker1" data-date="" data-date-format="yyyy-mm-dd">  
                    <input class="new_task_date create_taskdate form-people new-leave-date start_times" size="16" type="text" value="" readonly placeholder="请选择日期...">  
                    <span class="add-on select_date_icon select-icons">
                        <i data-date-icon="icon-calendar" class="icon-calendar iconfont icon-riqi icon-riqis"></i>
                    </span>  
                  </div> 
            </div>
             <div class="form-group form-group-common">
                <label for="remarks" class="col-sm-1 control-label control-labels ">备注:</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control  form-people  form-reason " id="remarks"  placeholder="请输入…"></textarea>
                </div>
            </div> 
           <div class="form-group form-group-common form-group-img">
               <div class="control-labels control-img">添加图片:</div>
               <div class="img-border">
                   <i class="iconfont icon-tianjia3 add-img-people"></i>
               </div>
           </div>
            <div class="form-group form-group-common">
                 <span style="color:red" class="require-content require-moment">*</span>
                <div class="control-labels control-imgs">发送至:</div>
                <ul class="generate_log_member_box shenpi-person send-check-people">
                    <li class="add_log_peoples">
                        <div class="generate_log_member_addlogos">
                           <i class="iconfont icon-tianjia3 add-img-people icon-position"></i>
                        </div>
                        <p class="generate_log_member_adds">选择成员</p>
                    </li>
                </ul>
           </div>
            <div class="form-group form-group-common">
                <div class="col-sm-offset-4 col-sm-10 ">
                    <button type="submit" class="btn btn-primary btn-submit" id="btn-test">提交</button>
                </div>
            </div>
        </form>
</div>




