{{#each peoplelist}}
<li class="generate_log_member" data_id={{id}}>
        <div class="generate_log_member_avatar" title={{name}}>
            <img src="" alt="">
        </div>
        <p class="generate_log_member_name">{{namel}}</p>
</li>
{{/each}}