<ul id="myTab" class="nav nav-tabs nav-bars">
	<li class="active">
		<a href="#home" data-toggle="tab">
			 发起审批
		</a>
	</li>
	<li><a href="#ios" data-toggle="tab">待我审批</a></li>
    <li><a href="#already_check" data-toggle="tab">我已审批</a></li>
	<li><a href="#already_check" data-toggle="tab">我发起的</a></li>
    <li><a href="#already_check" data-toggle="tab">抄送我的</a></li>
</ul>
<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade in active" id="home">
		 <ul class ="send-check">
             <li>
                <i class="iconfont icon-qingjia "></i>
                <p>请假</p> 
             </li>
             <li>
                 <i class="iconfont icon-chucha "></i>
                 <p>出差</p>
             </li>
             <li>
                 <i class="iconfont icon-baoxiao  "></i>
                 <p>报销</p>
             </li>
             <li>
                 <i class="iconfont icon-gongzuohuibao  "></i>
                 <p>工程进度汇报</p>
             </li>
         </ul>
	</div>
	<div class="tab-pane fade" id="ios">
		<p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple 
			TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
	</div>
	<div class="tab-pane fade" id="#already_check">
		<p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple 
			TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
	</div>
</div>