<ul id="myTab" class="nav nav-tabs nav-bars">
	<li class="active">
		<a href="#homes" data-toggle="tab">
			 发起审批
		</a>
	</li>
	<li class="expect-check"><a href="#ios"  data-toggle="tab" >待我审批</a></li>
    <li class="already_checked"><a href="#already_check" data-toggle="tab">我已审批</a></li>
	<li class="send_apply"><a href="#originator" data-toggle="tab">我发起的</a></li>
    <li class="copy_myown"><a href="#make_copy" data-toggle="tab">抄送我的</a></li>
</ul>
<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade in active" id="homes">
		 <ul class ="send-check">
             <li class="ask_for_leave">
                <div>
                    <i class="iconfont icon-qingjia leave-icon "></i>
                    <p>请假</p> 
                </div>
             </li>
             <li class="on_business_trip">
                  <div>
                 <i class="iconfont icon-chucha business-trip"></i>
                 <p>出差</p>
                 </div>
             </li>
             <li class="reimburse-moneny">
                 <div>
                 <i class="iconfont icon-baoxiao reimburse"></i>
                 <p>报销</p>
                 </div>
             </li>
                {{!-- <li class="progress-percent">
                    <div>
                    <i class="iconfont icon-gongzuohuibao progress-icon "></i>
                    <p>工程进度汇报</p>
                    </div>
                </li> --}}
         </ul>
	</div>
	<div class="tab-pane fade" id="ios">
           <div class="loading-bro">
            <h1>Loading</h1>
            <svg id="load" x="0px" y="0px" viewBox="0 0 150 150">
                <circle id="loading-inner" cx="75" cy="75" r="60"/>
            </svg>
           
	   </div>
	</div>
	<div class="tab-pane fade" id="already_check">
          <div class="loading-bro">
            <h1>Loading</h1>
            <svg id="load" x="0px" y="0px" viewBox="0 0 150 150">
                <circle id="loading-inner" cx="75" cy="75" r="60"/>
            </svg>
           
	   </div>
	</div>
    <div class="tab-pane fade" id="originator">
          <div class="loading-bro">
            <h1>Loading</h1>
            <svg id="load" x="0px" y="0px" viewBox="0 0 150 150">
                <circle id="loading-inner" cx="75" cy="75" r="60"/>
            </svg>
            </div>
	  
	</div>
    <div class="tab-pane fade" id="make_copy">
        <div class="loading-bro">
            <h1>Loading</h1>
            <svg id="load" x="0px" y="0px" viewBox="0 0 150 150">
                <circle id="loading-inner" cx="75" cy="75" r="60"/>
            </svg>
            </div>
	   
</div>