{{#each topiclist}}
 <li class="topic-item-list {{#contents this}}{{/contents}}">
     {{this}}
      <div class="topic-unread-count {{#if is_zero}}zero_count{{/if}}">
            <div class="value">{{unread}}</div>
      </div>
 </li>
 {{/each}}
 
