<div class="user_detail_box">
   <div class="user_detail_img_box">
       <img src="{{avatar}}" alt="" class="user_detail_img">
   </div> 
   <p class="user_detail_name">{{user_name}}</p>
   <p class="user_detail_email">{{email}}</p>
   <a href="{{_href}}">
    <div class="user_detail_send">
        发消息
    </div>
   </a>
</div>