{{#each user_list}}
<li class="user_list_box fix" user_id="{{id}}" email="{{email}}">
    <div class="user_list_img_box">
        <img src="{{user_avatar}}" alt="" class="user_list_img">
    </div>
    <p class="user_list_name">{{name}}</p>
</li>
{{/each}}