<div class="work_order_box">
    <div class="work_order_head fix">
        <p class="work_order_head_title">工作通知</p>
        <div class="work_order_screen_box">
            <p class="work_order_screen">筛选</p>
            <ul class="work_order_screen_ctn">
                <li>全部消息</li>
                <li>公告</li>
                <li>审批</li>
                <li>任务</li>
                <li>资料</li>
            </ul>
        </div>
    </div>
</div>  