<ul class="work_order_ctn_box fix">
    <li class="work_order_ctn">
        <p class="work_order_state">[审批]</p>
        <p class="work_order_title">马海成的请假申请需要您的审批，请查</p>
        <p class="work_order_reason">
            <span>请假原因:</span>
            <span>病假</span>
        </p>
        <p class="work_order_time">
            <span>
                请假日期:
            </span>
            <span>
                2017/07/06 - 2017.07/08
            </span>
        </p>
    </li>
</ul>