.choose-team{
    background: #FFFFFF;
    box-shadow: 0 1px 10px 0 rgba(204,204,204,0.30);
    border-radius: 1px;
    width:540px;
    height:473px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 400px;
    top: 140px;
    display: none; 
}
#peple-choose,.choose-teams{
    background: #FFFFFF;
    box-shadow: 0 1px 10px 0 rgba(204,204,204,0.30);
    border-radius: 1px;
    width:540px;
     height:473px;
    display: flex;
    flex-direction: column;
    position: absolute;
    /* left:0;
    /* top:25%; */
    /* top:25%; */
    left:0;
    top:0;
    bottom:0;
    right:0;
    /* bottom:10%; */
    /* overflow: auto; */
     margin:auto;
    padding-bottom:10px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    /* /* right:0 */
}
.choose-teams-list{
    /* right:0;
    left:51%; */
}
.choose-header{
   width:100%;
   height:50px;
   border-bottom:1px solid #ddd;
   box-sizing:border-box;
   line-height:50px;
   text-align: center;
}
.choose-nav{
    width:100%;
    flex:1;
    display: flex;
}
.choose-nav-left{
    width:270px;
    border-right:1px solid #ddd;
    height:100%;
    padding-left:20px;
    padding-top:20px;
    box-sizing:border-box;
    position: relative;
}
.icon-sousuo-search{
    background: #FFFFFF;
    /* border: 1px solid #CCCCCC; */
    border-radius: 100px;
    height:35px;
    width:229px;
    position: relative;
    box-sizing:border-box
}
.search-icon{
    border:none;
    height:32px;
    /* margin-left:38.4px; */
    /* width:186px; */
     border: 1px solid #CCCCCC;
    width:228px;
    text-indent:38.4px;
    border-radius: 100px;
    box-sizing:border-box;
    
}
.search-icon:focus,.button-anniu:focus{
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),
    0 0 8px rgba(82,168,236,0.6);
}

.icon-search-choose{
    height:18.4px;
    width:18.4px;
    font-size: 16px;
    position: absolute;
    left:18px;
    bottom:9.6px;
    color:#ccc;
}
.input-box{
    width:229px;
    margin-top:30px;
    text-align: left;
    padding-left:8px;
}
input[type="checkbox"]{
    vertical-align: middle;
    -webkit-appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #fff;
    }
input[type="checkbox"]:checked{
    vertical-align: middle;
    -webkit-appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: url("../img/Group-2.png") no-repeat;
    }
.input-box-list{
    width:229px;
    margin-top:15px;
    display:flex;
    padding-left:8px;
    justify-content: space-between;
}
.button-right,.button-right-clear,.button-right-delete{
    border:none;
    color: #14A4FA;
    /* font-size: 16px; */
    letter-spacing: 0.23px;
}
.choose-right-list{
    padding-left:20px;
    padding-top:20px;
    position: relative;
}
.choose-right{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:30px;
    
}
/* .box-list-right{
    padding-left:0px;
} */
.button-bottom{
    position: absolute;
    bottom:30px;
    left:59px
}
.button-anniu{
    background: #FFFFFF;
    border: 1px solid #A0ACBF;
    border-radius: 100px;
    height:30px;
    width:80px;
    font-family: PingFangSC-Medium;
    font-size: 13px;
    color: #A0ACBF;
    letter-spacing: 0.16px;
}
.button-confirm{
    background: #14A4FA;
    color:#fff;
    margin-left:20px;
    border:none;
}
:focus{
    outline:none !important;
    /* -wbkit-outline-radius:50px !important;
    /* outline-offset: -px; */
    /* outline-style: hidden;
    border-radius:100px !important; */ 
}
.box-left-list{
    margin:0;
    height: 270px;
    overflow: auto;
}
#file_choose{
    float:left;
    position: relative;
    cursor: pointer;
    font-size: 15px;
}
.test-image-file{
    width:10px;
    height:100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    opacity: 0;
   position: absolute;
    left:-3px;
    top:5px;
    cursor: pointer;
}
a.message-control-button {
    display: block;
    color: hsl(0,0%,46%);
    text-decoration: none;
    font-size: 14px;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    padding-top: 5px;
    text-align: center;
    float: left;
}
.icon-vector-paper-clip:before {
    content: "\f0c6";
}
.log_screening{
    width: 342px;
    height: 316px;
    position: absolute;
    right: 31px;
    top: 137px;
    background: #fff;
    box-shadow: 0 1px 10px 0 rgba(204,204,204,0.30);
    border-radius: 1px;
    display: none;
}
.log_screening_tilte{
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    text-align: center;
    height: 54px;
    line-height: 54px;
    border-bottom: 1px solid #ccc;
}
.log_screening_person{
    margin-top: 32px;
}
.log_screening_person>:first-child{
    font-size: 15px;
    color: #333333;
    letter-spacing: 0.22px;
    margin-left: 30px;
    margin-top: 20px;
}
.log_screening_person>:last-child{
    width: 200px;
    height: 30px;
    border: 1px solid #A0ACBF;
    border-radius: 100px;
    text-indent: 10px;
}
.log_screening_startdate{
    width: 280px;
    margin: 0 auto;
    height: 60px;
    margin-top: 10px;
}
.log_screening_startdate>:first-child{
    font-size: 15px;
    color: #333333;
    letter-spacing: 0.22px;
    /* margin-left: 30px; */
    margin-top: 20px;
    float: left;
}
#screenstart_datetimepicker{
    width: 241px;
    float: left;
    margin-left: -22px;
    margin-top: 10px;
}
#screenstart_datetimepicker>:first-child{
    width: 157px;
}
.log_screening_enddate{
    width: 280px;
    margin: 0 auto;
    height: 60px;
    margin-top: 10px;
}
.log_screening_enddate>:first-child{
    font-size: 15px;
    color: #333333;
    letter-spacing: 0.22px;
    margin-top: 20px;
    float: left;
}
#screenend_datetimepicker>:first-child{
    width: 157px;
}
#screenend_datetimepicker{
    width: 241px;
    float: left;
    margin-left: -22px;
    margin-top: 10px;
}
.log_screening_btn{
    width: 165px;
    height: 60px;
    margin: 0 auto;
    margin-top: 36px;
}
.log_screening_reset{
    width: 65px;
    height: 30px;
    border: 1px solid #A0ACBF;
    border-radius: 100px;
    font-size: 13px;
    color: #A0ACBF;
    letter-spacing: 0.19px;
    text-align: center;
    line-height: 30px;
    float: left;
}
.log_screening_enter{
    width: 65px;
    height: 30px;
    border: 1px solid #A0ACBF;
    border-radius: 100px;
    font-size: 13px;
    color: #A0ACBF;
    letter-spacing: 0.19px;
    text-align: center;
    line-height: 30px;
    float: left;
    margin-left: 30px;
}
.log_screening_close{
    position: absolute;
    right: 10px;
    top: 4px;
}
.choose_team_close{
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}
.box-right-list {
    height: 270px;
    overflow: auto;
}
.back-choose{
    border:none;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #14A4FA;
    letter-spacing: 0.23px;
}
.select-choose{
    margin-top:16px;
    display:flex
}
.avatar-over{
    height:70px;
    width:70px;
    background: rgba(0,0,0,0.40);
    border-radius: 100px;
    z-index:1000;
    position:absolute;
    top:20px;
    line-height:70px;
    display:none;
}
.dust-delete{
    font-size: 27px;
    color: #fff;
}
.avatar-img{
    border-radius: 100px;
}
.modal-ul-choose{
   z-index:2000;
   position: absolute;
   top: 52px;
    height: 170px;
    width: 195px;
   background: #FFFFFF;
   margin-left:20px;
  box-shadow: 0 2px 4px 0 rgba(226,226,226,0.50);
  display:none
}
.toast-alert,.toast-alert-button{
    height:34px;
    min-width:184px;
    max-width:350px;
    color:#fff;
    background: rgba(0,107,169,0.30);
    border-radius: 6px;
    position: absolute;
    bottom:70px;
    left:0;
    right:0;
    margin:auto;
    line-height:34px;
    display:none;
}
.toast-alert-button{
    bottom:100px;
    text-align:center;
}
#process-bar{
    position:absolute;
    bottom:0;
    height:5px;
}
.process-bar-parent{
    position:absolute;
    height: 5px; 
    margin-bottom: 0px;
    width:50px;
    left:163px;
    top:60px;
}
.paging_box{
    /* width: 937px; */
    /* height: 50px; */
    margin: 0 auto;
    display: table;
    margin-bottom: 20px;
    margin-top: 20px;
}
.paging{
    list-style: none;
}
.paging>li{
    display: table-cell;
    float: left;
    font-size: 12px;
    color: #999999;
    letter-spacing: 0.12px;
    background: #fff;
    padding: 4px 9px;
    margin: 0 2px;
    cursor: pointer;
}

.paging_box_receive{
    margin: 0 auto;
    display: table;
    margin-bottom: 20px;
    margin-top: 20px;
}
.paging_receive{
    list-style: none;
}
.paging_receive>li{
    display: table-cell;
    float: left;
    font-size: 12px;
    color: #999999;
    letter-spacing: 0.12px;
    background: #fff;
    padding: 4px 9px;
    margin: 0 2px;
    cursor: pointer;
}

.paging_box_send{
    /* width: 937px; */
    /* height: 50px; */
    margin: 0 auto;
    display: table;
    margin-bottom: 20px;
    margin-top: 20px;
}
.paging_send{
    list-style: none;
}
.paging_send>li{
    display: table-cell;
    float: left;
    font-size: 12px;
    color: #999999;
    letter-spacing: 0.12px;
    background: #fff;
    padding: 4px 9px;
    margin: 0 2px;
    cursor: pointer;
}
.message_table_left{
    width:130px;
    background: #FFFFFF;
    height:790px;
    border:1px solid #ddd;
    border-top:none;
    border-left:none;
    box-sizing:border-box;
    /* margin-top:50px; */
}

.message-middle-total{
    display:flex
}
.home-title,.home_gruop_title,.home_title_body{
    height:89px;
    border-bottom:1px solid #ddd;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
}
.home-title>button,.home_title_body>button{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0.16px;
    border:none
}
.group_setting{
    position:absolute;
    right:0;
    bottom:0;
    top:0;
    height:100%;
    width:380px;
    z-index:500000;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(179,179,179,0.50);
    display:none
}
.setting_body{
    padding:20px
}
.setting_body>h1{
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.18px;
}
.color-setting{
    display: inline-block;
    height:44px;
    width:44px;
    text-align:center;
    line-height:44px;
    border-radius:50%;
    background: #4584FF;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.18px;
}
.color-setting-total>span{
    display: inline-block;
}
.color-setting-total>span:last-child{
    margin-left:10px;
}
.color-setting-total{
   height:44px;
   display:flex;
   align-items: center;
   margin-top:20px;
   margin-bottom:20px;
}
.group_icon{
    height:50px;
    position: relative;
    padding:0 20px;
    line-height: 50px;
    cursor: pointer;
    display:none;
}
.icon_qunzu{
    display: inline-block;
    height:38px;
    width:38px;
    border-radius: 50%;
    background: #4584FF;
    line-height:38px; 
    text-align:center
}
.icon-pindao{
    color:#fff;
    
}
#group_seeting_choose{
    display:none;
    pointer-events: all
}
.home_gruop_title{
    /* display:none */
}
.home_title_body{
    display:flex;
    width:100%;
    padding:0;
}
.all_group,.already_sub{
    cursor: pointer;
    font-family: PingFangSC-Medium;
    font-size: 18px;
    color: #888888;
    letter-spacing: 0.2px;
    margin-right:52px;
}
.new_setting{
    background: #4584FF;
    border-radius: 4px;
    height:40px;
    width:230px;
    color:#fff !important;
}
.group_list_index{
    /* padding:0 20px; */
}
.group_list_index,.list-setting-commn{
    display:flex;
}
.list-setting-common{
    margin-left:10px;
}
.avatar_setting{
   line-height:44px;
   text-align:center;
}
.list-right-setting{
    display:flex;
    justify-content: space-between
}
.topic-item-list{
    
}
.inline-right{
    float:right
}
.choose-group-people{
    width:20%;
    text-align: center;
    margin-top:20px;
    /* margin-right:30px; */
}
.choose-group-people>img{
     display:inline-block;
     height:38px;
     width:38px;
     border-radius:50%;
}
.list-avatar{
    display:flex;
    margin:0;
    width:100%;
    padding:0px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.more-detail{
    width:100%;
    text-align:center;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #4584FF;
    letter-spacing: 0.16px;
    margin-top:20px;
    cursor: pointer;
}
.chat-common{
    height:50px;
    border-top:1px solid #ddd;
    opacity: 0.6; 
    line-height:50px;
    display:flex;
    justify-content: space-between;
    align-items: center
    /* transform: rotate(-90deg); */
    /* background: #DDDDDD; */
}
.chat-setting{
    margin:0;
    border-bottom:1px solid #ddd;
    margin-top:6px;
}
.back-tuiding{
    border: 1px solid #4584FF;
    border-radius: 4px;
    height:40px;
    width:230px;
    text-align: center;
    line-height:40px;
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #4584FF;
    letter-spacing: 0.18px;
    margin-top:70px;
    margin-left:50px
}
.left-color{
    display: inline-block;
    height:20px;
    width:20px;
    background: #4584FF;
}
.choose-color-setting{
    height:20px;
    width:100%;
    display:flex;
    align-items: center;
    margin-bottom:20px;
}
.icon-xialaxuanze{
    font-size:10px;
    color: #ddd;
    margin-left: 10px;
}
.color-pop{
    display:none;
}
.icon-qunzu{
    color:#959595 !important;
}
.top-setting{
    justify-content: flex-start !important;
    margin-left:10px;
    
}
.stream-names{
    /* margin-left:10px; */
    width:106px;
    text-align: left
}
/* 开关 */
.swtich-button{
    margin-left:calc(100% - 185px);
}
#div1{
        width: 38.6px;
        height: 23.3px;
        border-radius: 50px;
        position: relative;
        /* align-self:flex-end !important; */
        
    }
    #div2{
        width: 20px;
        height: 20px;
        border-radius: 20px;
        position: absolute;
        background: white;
        cursor: pointer;
        box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
    }
    .open1{
        background: rgba(0,184,0,0.8);
    }
    .open2{
        top: 1px;
        right: 1px;
    }
    .close1{
        background: #BBBBBB;
        border:1px solid rgba(0,0,0,0.15);
        border-left: transparent;
    }
    .close2{
        left: 0px;
        top: 0px;
        border:1px solid rgba(0,0,0,0.1);
    }
    .stream-list-row{
        padding-left:0px !important;
    }
    /* 新建群组 */
    #new_steam_group{
        z-index:30000;
        height:100%; 
        width:100%;
        position:fixed;
        background-color: hsla(0, 0%, 13%, 0.8);
        /* opacity: 0.2;
        background: #000000; */
        left:0;
        top:0;
        display: none;
        opacity: 1;
        pointer-events: all;
        transition: opacity 0.3s ease;
        cursor: pointer;
    }
    .new_display_content{
        position: absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        height:820px;
        width:540px ;
        margin:auto;
        background: #FFFFFF;
        opacity: 1;
        
        /* box-shadow: 0 1px 10px 0 rgba(204,204,204,0.30); */
        border-radius: 4px;
    }
    .new_display_content .display-type{
        padding: 6px;
        text-align: center;
        background: #F4F5F7;
        height:60px;
        line-height:60px;
        font-weight: 600;
        position: relative;
        border-bottom: 1px solid hsl(0,0%,86%);
    }
    .icon-close-guanbi{
       position: absolute;
       right:30px;
       top:5px;
       cursor: pointer;
    }
    .stream_group_title{
        display: inline-block ;
        font-family: PingFangSC-Regular;
        font-size: 15px;
        color: #333333;
        letter-spacing: 0.18px;
        padding-top:10px;
    }
    .stream_description_team{
        min-height:90px;
        width:409px !important;
    }
    .stream_creation_body{
        padding:20px;
        overflow: auto
    }
    .stream_group_name{
        width:409px;
        height:38px !important;
    }
    .stream-box{
        width:409px;
        display: inline-block;
        border:none;
        background-color: #fff;
        vertical-align: top;
       
    }
    .user-attendances{
        overflow:auto;
        /* height:60px; */
    }
    .modal-footers{
        background-color: #fff;
        border-top:none;
        padding:0 70px;
        display: flex;
        justify-content: space-around
    }
    .modal-footers>.button-cancel{
       width:180px;
       height:40px;
       border: 1px solid #C5C5C5;
       border-radius: 4px;
    }
    .modal-footers>.button-confirm{
        width:180px;
        height:40px;
        background: #4584FF;
        border: 1px solid #4584FF;
        border-radius: 4px;
        color:#fff !important;
    }
    .button-sure{
       text-align:center;
       line-height:40px;
    }
    .icon-nexts{
       display:none ;
       cursor: pointer;
    }
    .icon-prevs{
        display:none ;
       cursor: pointer;
    }
   .next-icons{
        position: absolute;
        right:20px;
    }
    .first-icon{
        transform:rotate(180deg) !important;
        -ms-transform:rotate(180deg); 	/* IE 9 */
        -moz-transform:rotate(180deg); 	/* Firefox */
        -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
        -o-transform:rotate(180deg); 
    }
    .creare-topic-total>button{
          margin-top:20px;
    }