.compose-content {
    border-top: 1px solid hsla(0, 0%, 0%, 0.07);
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.ztable_comp_col1 {
    width: 10px;
}

#compose_controls .drafts-link {
    float: left;
    padding: 0px 15px;
}

.new_message_button {
    padding-top: 1.1em;
}

.message_comp {
    /* display: none; */
    padding: 10px 10px 8px 5px;
}

.autocomplete_secondary {
    opacity: 0.8;
}

.active .autocomplete_secondary {
    opacity: 1;
}

.alert-draft {
    font-size: 14px;
    color: hsl(170, 47%, 54%);
    padding: 6px 12px;
    font-weight: 400;
    display: none;
}

#compose_buttons {
    text-align: right;
}

#compose_buttons .button.small {
    font-size: 1em;
    padding: 3px 10px;
}

.compose_table .message_header_colorblock,
.compose_table .message_header {
    box-shadow: none;
    background: none;
}

.compose_table .message_header_colorblock,
.compose_table .message_header_colorblock.message_header_private_message {
    border-radius: 3px 0px 0px 3px;
    border-bottom: 0px;
}

.compose_table .message_header_colorblock.message_header_private_message {
    background: hsl(0, 0%, 27%);
}

.compose_table .right_part {
    padding: 0px;
    opacity: 1;
    height:0;
}
#stream-message{
    overflow: hidden;
    display:inline-block !important; 
     height:0;
}
.compose_table .right_part .icon-vector-narrow {
    font-size: 0.6em;
    position: relative;
}

.compose_table .compose_checkbox_label {
    display: inline-block;
}

.compose_table .pm_recipient {
    margin: 0px 20px 0px 10px;
    display: flex;
}

.compose_table #private-message .to_text {
    width: 65px;
    vertical-align: top;

    font-weight: 600;
}

.compose_table #private-message .to_text span {
    display: flex;
    align-items: center;

    position: relative;
    top: -1px;
}

.compose_table #compose-lock-icon {
    position: relative;
    width: 0px;
}

.compose_table #compose-lock-icon i {
    position: absolute;
    left: 32px;
    top: 4px;
}

.compose_table .message_header {
    background: none;
    background-color: hsl(0, 0%, 92%);
    border: none;
    border-radius: 0px;
    box-shadow: none !important;
}

.compose_table .messagebox {
    box-shadow: none !important;
}

table.compose_table {
    table-layout: fixed;
    margin-left: auto;
    width: 100%;
}

#send_message_form {
    margin: 0px;
}

#send_message_form .messagebox {
    /* normally 5px 14px; pull in the right and bottom a bit */
    cursor: default;
    padding: 0px;
    background: none;
    /* box-shadow: none; */
    border: none;
}

#send_message_form .message_content {
    margin-right: 0px;
}

#below-compose-content {
    width: 100%;
    margin-top: 6px;
    margin-left: 12px;
}

#compose {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    width: 100%;

    background: #fff;
}

#compose-container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.compose-content {
    padding: 15px 10px 15px 10px;
    margin-left: 460px;
    /* margin-right: 275px !important; */
    position: relative;
    height: 200px;
/* 
    border-left: 1px solid hsl(0, 0%, 93%);
    border-right: 1px solid hsl(0, 0%, 93%); */
    background: #FFFFFF;
    /* box-shadow: 0 -1px 5px 0 rgba(204,204,204,0.30); */
    /* border-radius: 1px 1px 0 0; */
    border: 1px solid #ddd;
    border-right: 1px solid #fff;
}

#compose_close {
    display: none;
    position: absolute;
    right: 0px;
    top: 5px;
}

#compose_invite_users,
#compose_private_stream_alert {
    /* Don't overlap into the compose_close × */
    margin-right: 10px;
}

.compose_invite_user,
.compose_private_stream_alert,
.compose-all-everyone,
.compose-announce,
.compose_not_subscribed {
    padding: 4px 0px 4px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#compose_not_subscribed_close {
    top: 1px;
    right: 10px;
}

.compose_invite_close,
.compose_private_stream_alert_close {
    display: inline-block;
    margin-top: 4px;

    width: 10px;
}

.compose-all-everyone-controls,
.compose-announce-controls,
.compose_invite_user_controls,
.compose_private_stream_alert_controls {
    float: right;
    position: relative;
}

.compose_invite_user p,
.compose_not_subscribed p {
    margin: 0px;
    display: inline-block;
    max-width: calc(100% - 100px);
}

#error-message-sub-button {
    margin-right: 30px;
}

.compose_invite_user_error {
    margin-right: 10px;
    padding: 3px 8px 3px 8px;
}

/* Like .nav-tabs > li > a */
div[id^="message-edit-send-status"],
#compose-send-status {
    padding: 8px 14px 8px 14px;
    margin-bottom: 8px;
    line-height: 20px;
    display: none;
}

#nonexistent_stream_reply_error {
    padding: 8px 14px 8px 14px;
    margin-bottom: 8px;
    line-height: 20px;
    display: none;
}

/* Like .alert .close */
.send-status-close,
.compose-send-status-close {
    font-size: 17px;
    font-weight: bold;
    color: hsl(0, 0%, 0%);
    text-shadow: 0 1px 0 white;
    opacity: .2;
    filter: alpha(opacity=20);
    float: right;
}

.send-status-close:hover,
.compose-send-status-close:hover {
    cursor: pointer;
    opacity: .4;
    filter: alpha(opacity=40);
}

#out-of-view-notification {
    position: relative;
    margin-bottom: 6px;
    display: none;
    background: hsla(152, 51%, 63%, 0.25);
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    border-radius: 4px;
}

.compose-notifications-content {
    padding: 4px 10px 4px 10px;
    text-align: center;
}

.composition-area {
    position: relative;
    /* margin: 0 10px; */
}

#out-of-view-notification .close {
    position: absolute;
    right: 14px;
    top: 4px;
    font-size: 17px;
    font-weight: bold;
    color: hsl(0, 0%, 0%);
    text-shadow: 0 1px 0 white;
    opacity: .2;
    filter: alpha(opacity=20);
}

textarea.new_message_textarea {
    display: table-cell;
    width: calc(100% - 12px);
    padding: 5px;
    height: 1.5em;
    max-height: 22em;
    margin-bottom: 0px;
    /* resize: vertical !important; */
    margin-top: 5px;
    border: none!important;
    /* margin-top: 26px; */
}

textarea.new_message_textarea,
.compose_table .recipient_box {
    border: 1px solid hsla(0, 0%, 0%, 0.2);
    box-shadow: none;
    -webkit-box-shadow: none;
    transition: border 0.2s ease;
}

textarea.new_message_textarea:focus,
.compose_table .recipient_box:focus {
    border: 1px solid hsl(0, 0%, 66%);
    box-shadow: none;
    -webkit-box-shadow: none;
}

#stream.recipient_box:focus {
    border-left: none;
}

input.recipient_box {
    margin: 0px;
    height: 1.1em;
    border-radius: 3px;
}

#stream.recipient_box {
    width: 16%;
    border-radius: 0px 3px 3px 0px;
    border-left: 0px;
    min-width: 120px;
    padding: 7px 0;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-family: PingFangSC-Medium;
    font-size: 12px;
    color: #A0ACBF;
    letter-spacing: 0.18px;
    text-indent: 32px;
}

#subject.recipient_box {
    width: calc(20% - -14px);
    min-width: 140px;
    max-width: 165px;
}

#stream.recipient_box.lock-padding {
    padding-left: 18px;
}

#private_message_recipient.recipient_box {
    width: 100%;
}

#send_controls {
    position: absolute;
    right: 12px;
    font-size: 0.8em;
    height: 2.2em;
    top: 140px;
}

#send_controls .compose_checkbox_label {
    color: hsl(0, 0%, 66%);
    margin-right: 2px;
}

#send_controls #compose-send-button {
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 7px;
    font-weight: 600;
    /* border: 1px solid hsl(170, 68%, 41%); */
    /* background-color: hsl(170, 47%, 54%); */
    color: hsl(0, 0%, 100%);
    background: #14A4FA;
    border-radius: 100px;
    padding: 4px 18px;
    text-align: center;
    width: 98px;
    height: 40px;
    background: #fff;
    color: #666;
}


#compose-send-button:focus {
    box-shadow: 0px 0px 10px hsl(170, 47%, 54%), 0px 0px 5px hsl(170, 47%, 54%);
}
#stream-message,
#private-message {
    display: none;
}

.compose_table .drafts-link {
    position: relative;
    margin-right: 1em;
    margin-left: 5px;
    top: 2px;
}

#sending-indicator {
    top: 2px;
    position: relative;
    font-weight: bold;
    display: inline-block;
}

#compose a.message-control-button {
    display: block;
    opacity: 0.4;
    color: inherit;
    text-decoration: none;
    width: 26px;
    height: 52px;
    margin-right: 8px;
    padding-top: 5px;
    text-align: center;
    float: left;
    margin: -9px 20px;
    font-size: 26px;
}

#compose a.message-control-button:hover {
    opacity: 1;
}

.drag {
    display: none;
    height: 18px;
    width: 100%;
    top: 23px;
    position: relative;
    cursor: ns-resize;
}

#enter_sends {
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 4px;
}

.inline-subscribe-error {
    margin-left: 5px;
}

#preview_message_area {
    /* minus 5px padding. */
    width: calc(100% - 12px);
    padding: 5px;
    /* the maximum height the textarea gets to. */
    max-height: 308px;
    /* the minimum height the textarea collapses to. */
    min-height: 42px;
    overflow: auto;

    margin-top: 5px;

    border: 1px solid hsl(0, 0%, 66%);
    border-radius: 4px;
    background-color: hsla(0, 0%, 0%, 0.02);
    cursor: not-allowed;
}

a#markdown_preview,
a#undo_markdown_preview {
    text-decoration: none;
    position: relative;
    font-size: 16px;
    color: hsl(0, 0%, 46%);
}

#markdown_preview_spinner {
    margin: auto;
}

@media (max-width: 700px) {
    #compose_buttons .compose_reply_button {
        display: none;
    }
}
/* zyc底部样式添加 */
.draft_box{
    border-radius: 100px!important;
    padding: 5px 20px!important;
    border: 1px solid #A0ACBF!important;
    font-size: 14px;
}
.draft_title{
    font-family: PingFangSC-Medium;
    font-size: 13px;
    color: #A0ACBF;
    letter-spacing: 0.19px;
}
.new_topic_img{
    width: 12px;
    height: 12px;
    margin-top: -4px;
    /* margin-left: -4px; */
}
.new_topic{
    border: 1px solid #A0ACBF!important;
    border-radius: 100px!important;
    padding: 4px 16px!important;
}
.new_topic_name{
    font-family: PingFangSC-Medium;
    font-size: 13px;
    color: #A0ACBF;
    letter-spacing: 0.19px;
}
.write_private{
    border: 1px solid #A0ACBF!important;
    border-radius: 100px!important;
    padding: 3px 12px!important;
}
.write_private_name{
    background: #FFFFFF;
    box-shadow: 0 1px 5px 0 rgba(204,204,204,0.30);
    border-radius: 1px;
    color: #A0ACBF;
}
.compose_shadowl{
    width: 10px;
    height: 60px;
    background: #eee;
    display: block;
    position: absolute;
    left: 0px;
    top: -3px;
}
.compose_shadowr{
    width: 10px;
    height: 60px;
    background: #eee;
    display: block;
    position: absolute;
    right: -10px;
    top: -3px;
}
.compose_ctn_shodowl{
    width: 10px;
    height: 160px;
    background: #eee;
    display: block;
    position: absolute;
    left: 0px;
    top: -3px;
}
.compose_ctn_shodowr{
    width: 10px;
    height: 160px;
    background: #eee;
    display: block;
    position: absolute;
    right:-10px;
    top: -3px;
}
.left_part{
    position: absolute;
    left: 22px;
    top: 10px;
    width: 12px;
    height: 12px;
    border-radius: 50%!important;
    text-indent: 30px;
}
.icon-xiangyou{
    color: #A0ACBF;
    font-size: 14px;
}
.topic_int{
    width: 16%;
    min-width: 120px;
    padding: 7px 0;
    font-family: PingFangSC-Medium;
    font-size: 12px;
    color: #A0ACBF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}
.icon-guanbiUI{
    font-size: 14px;
    color: #999;
}
.compose-title{
    /* margin-right:265px!important; */
    display:flex;
    margin-left:475px;
    padding: 0px 10px 0px 20px;
    justify-content: space-between;
    border:1px solid transparent;
}
.create-topic{
    border:none;
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #4584FF;
    letter-spacing: 0.22px;
    cursor: pointer;
}
.topic-list{
    display:flex;
    width:680px;
    flex-wrap: wrap;
    width: 680px;
    height: 34px;
    align-items: center;
    overflow: hidden;
    margin-left:5px;
    padding-left:5px;
    margin:0;
}
li.topic-list-item,.topic-item-list{
    height:34px;
    width:124px;
    box-sizing: border-box;
    /* background: #4584FF; */
    border: 1px solid #4584FF;
    border-radius: 100px;
    margin-right:10px;
    text-align: center;
    line-height:34px;
    cursor: pointer;
}

.compos-left-title{
   display: flex;
   align-items: center;
   height:62px;
}
.creare-topic-body{
    position: relative;
}
.creare-topic-body{
    position: absolute;
    background: #F1F6FD;
    top:-190px;
    right:50px;
    box-shadow: 0 2px 4px 0 #E8ECF2;
    border-radius: 4px 0 0 0 4px 4px 4px;
    height:184px;
    width:292px;
    z-index:30000;
    display: none;
    padding:20px;
    text-align: center;
    box-sizing: border-box
}
.creare-topic-body>div:first-child{
    font-family: PingFangSC-Medium;
    font-size: 15px;
    color: #666666;
    letter-spacing: 0.18px;
    margin-bottom:16px;
}
.creare-topic-body>div:nth-child(2)>span{
    font-family: PingFangSC-Regular;
    display:inline-block;
    font-size: 15px;
    color: #666666;
    letter-spacing: 0.18px;
    height:21px;
    width:46px;
}
.creare-topic-body>div:nth-child(2)>input{
    background: #FFFFFF;
    border-radius: 4px;
    border:none;
    height:30px;
    width:198px;
    box-sizing: border-box
}
.creare-topic-body>div:nth-child(3){
   margin-top:30px;
   padding:0 4px;
   display: flex;
   justify-content: space-between
}
.creare-topic-body>div:nth-child(3)>button{
   width:112px;
   height:34px;
}
.creare-topic-body>div:nth-child(3)>button:first-child{
    border: 1px solid #C5C5C5;
    border-radius: 4px;
}
.creare-topic-body>div:nth-child(3)>button:last-child{
    background: #4584FF;
    border: 1px solid #4584FF;
    border-radius: 4px;
    color:#fff
}
.icon-prevs>i{
    color: rgba(153,153,153,0.50)
}
.icon-nexts>i{
    color:#999
}
.make-stream-sure:disabled{
    opacity: 0.5;
}
.backcolor{
    background-color: #4584FF !important;
}