.management_set{
    width: 1100px;
    height: 800px;
    position: fixed;
    left: 380px;
    top: 80px;
    background: #ccc;
    z-index: 10000;
    display: none;
}
.close_management_set{
    position: absolute;
    right: 20px;
    top: 20px;
    color: black;
}
.close_management_set:hover{
    color: #666;
}
.generate_log{
    /* position: relative; */
}
.create_generate_log{
    position: absolute;
    width: 144px;
    height: 160px;
    background: #FFFFFF;
    box-shadow: 0 1px 10px 0 rgba(204,204,204,0.30);   
    /* border: 1px solid #ccc; */
    right: 114px;
    /* margin-top: 10px; */
    display: none;
}
.create_generate_box{
    margin-top: 10px;
}
.create_generate_box>li{
    list-style: none;
    width: 108px;
    height: 30px;
    margin-left: -6px;
    margin-top: 4px;
}
.create_generate_box>li>p{
    background: #FFFFFF;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 5px 0;
}
.create_generate_ensure{
    width: 80px;
    height: 30px;
    background: #14A4FA;
    border-radius: 100px;
    color: #fff;
    line-height: 30px;
    margin: 0 auto;
}
.default_border{
    border: 1px solid #A0ACBF!important;
}




/* 日历样式 */
ul{
    list-style: none;
}
#schedule-box{
    width: 320px;
    margin: 0 auto;
    padding: 35px 20px;
    font-size: 13px;
    background: #fff;
    position: absolute;
    right: 233px;
    display: none;
}
.schedule-hd{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.today{
    flex: 1;
    text-align: center;
}
.ul-box{
    overflow: hidden;
}
.ul-box > li{
    float: left;
    width: 14.28%;
    text-align: center;
    padding: 5px 0;
}
.other-month{
    color: #999999;
}
.current-month{
    color: #333333;
}
.today-style{
    border-radius: 50%;
    background: #58d321;
}
.arrow{
    cursor: pointer;
}
.dayStyle{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}
.current-month > .dayStyle:hover{
    background: #00BDFF;
    color: #ffffff;
}
.today-flag{
    background: #00C2B1;
    color: #fff;
}
.boxshaw{
    box-shadow: 2px 2px 15px 2px #e3e3e3;
}
.selected-style {
    background: #00BDFF;
    color: #ffffff;
}
#h3Ele{
    text-align: center;
    padding: 10px;
}
.close_calendar{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 12000;
}
/* 日历样式 */


/*任务详情样式*/
.taskdetail_box{
    width: 540px;
    height: 590px;
    /* border: 1px solid red; */
    background: #fff;
    position: absolute;
    left: 400px;
    top: 200px;
    overflow: auto;
}
.taskdetail_head{
    background: #FFFFFF;
    border-radius: 3px;
    border-bottom: 1px solid #ccc;
    height: 50px;
    position: relative;
    overflow: hidden;
}
.taskdetail_title{
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    margin: 14px auto;
}
.taskdetail_head>.taskdetail_close{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.taskdetail_ctn{
    overflow: hidden;
    margin: 22px 20px;
}
.taskdetail_state{
    float: left;
    font-size: 16px;
    /* display: none; */
    /* margin-bottom: -2px; */
}
.unfinished{
    width: 16px;
    height: 16px;
    background: url("../img/unfinished.png") no-repeat;
    float: left;
}
.finished{
    width: 16px;
    height: 16px;
    background: url("../img/finished.png") no-repeat;
    float: left;
}
.taskdetail_list{
    float: left;
    font-size: 18px;
    color: #333333;
    letter-spacing: 0.22px;
    margin-left: 20px;
}
#taskdetail_addnote{
    width: 500px;
    height: 128px;
    margin: 0 auto;
    background: #F7F7F7;
    border-radius: 3px;
    border: none;
    resize:none;
    outline: none;
    font-size: 12px;
    color: #999999;
    letter-spacing: 0;
    text-indent: 10px;
}
.taskdetail_lineA{
    background: #E7E7E7;
    border: 1px solid #E7E7E7;
    display: inline-block;
    width: 500px;
    height: -1px;
}
.taskdetail_date_box{
    width: 500px;
    margin: 0 auto;
}
.taskdetail_set{
    font-size: 15px;
    color: #999999;
    letter-spacing: 0.22px;
    text-align: left;
}
.taskdetail_selection{
    width: 500px;
    margin: 0 auto;
    overflow: hidden;
}
.taskdetail_selection_left{
    overflow: hidden;
    float: left;
}
.taskdetail_selection_right{
    overflow: hidden;
    float: right;
}
.taskdetail_selection_left>:first-child{
    float: left;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0.15px;
    margin: 5px 10px;
}
.taskdetail_selection_left>:last-child{
    float: left;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0.15px;
    padding: 5px 43px;
    background: #F7F7F7;
    border-radius: 3px;
}
.taskdetail_selection_right>:first-child{
    float: left;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0.15px;
    margin: 5px 10px;
}
.taskdetail_selection_right>:last-child{
    float: left;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0.15px;
    padding: 5px 43px;
    background: #F7F7F7;
    border-radius: 3px;
}
.taskdetail_upfile_box{
    width: 500px;
    margin: 10px auto;
    height: 30px;
}
.upfile_icon{
    float: left;
    color: #999999;
}
.taskdetail_addattachment{
    float: left;
    font-size: 15px;
    color: #999999;
    letter-spacing: 0.22px;
    margin-left: 6px;
}
.taskdetail_upfile{
    float: right;
    font-size: 14px;
    color: #14A4FA;
    letter-spacing: 0.23px;
}
.taskdetail_attachment_box{
    width: 500px;
    margin: 10px auto;
}
.taskdetail_attachment{
    width: 500px;
    height: 52px;
    margin: 6px auto;
    background: #F7F7F7;
    border: 1px solid #A0ACBF;
    border-radius: 3px;
    overflow: hidden;
}
.taskdetail_attachment_left{
    float: left;
    width: 165px;
}
.taskdetail_attachment_right{
    float: right;
}
.taskdetail_attachment_left>:first-child{
    float: left;
    margin: 12px 14px;
}
.taskdetail_attachment_left>p:nth-of-type(1){
    font-size: 14px;
    color: #333333;
    letter-spacing: 0.15px;
    margin-top: 10px;
}
.taskdetail_attachment_left>p:nth-of-type(2){
    margin-top: -12px;
    font-size: 11px;
    color: #999999;
    letter-spacing: 0.12px;
}
.taskdetail_download{
    font-size: 14px;
    color: #A0ACBF;
    letter-spacing: 0.23px;
    /* margin: 18px 20px; */
    line-height: 56px;
    margin-right: 20px;
}
.taskdetail_delete{
    font-size: 14px;
    color: #A0ACBF;
    letter-spacing: 0.23px;
    line-height: 56px;
    margin-right: 20px;
}
.taskdetail_md{
    width: 150%;
    height: 118%;
    background: rgba(0,0,0,0.30);
    position: absolute;
    left: -201px;
    top: 0;
    z-index: 111;
    display: none;
}
.taskdetail_records_box{
    width: 540px;
    background: #F3F3F3;
    overflow: hidden;

}
.taskdetail_records_box>:first-child{
    margin-left: 20px;
    text-align: left;
    font-size: 15px;
    color: #999999;
    letter-spacing: 0.22px;
    margin-top: 10px;
}
.taskdetail_records{
    
}
.taskdetail_text{
    font-size: 12px;
    color: #999999;
    letter-spacing: 0.15px;
    text-align: left;
}