#supervise_ctn{
   background-color:#fff;
   min-height:500px;
   max-height:100%;
}
.supervise_line{
   height:5px;
   margin-top:0px !important;
   border-bottom: 1px solid #CCCCCC;
}
.my_management_supervise{
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0.17px;
}
.my_supervise_img{
    display: flex;
    margin-top:30px;
}
/* .common_img{
    height:100px;
    width:140px;
    box-shadow: 2px 2px 25px 0 rgba(204,204,204,0.80);
    border-radius: 2px;
    padding:20px;
    box-sizing: border-box;
    cursor: pointer;
} */
.img_color{
    background: #FF7072;
}
.text_img{
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.21px;
    margin-top:11px;
}
.attendance_team{
    height:200px;
    width:400px;
    background: #FFFFFF;
    box-shadow: 0 1px 5px 0 rgba(204,204,204,0.30);
    border-radius: 4px;
    position: relative;
    margin-bottom:20px;
}
.new_attendance{
    background: #A0ACBF;
    border-radius: 100px;
    height:30px;
    width:120px;
}
.attendance_box{
    overflow-x: hidden;
    overflow-y: auto;
}
.attendance_ctn{
    padding:0 30px;
    /* height:680px; */
    overflow-y: auto; 
    overflow-x: hidden;
}
.attendance_ul_team{
    margin:0;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.new_attendance_title{
    margin-top:40px;
    margin-bottom:30px;

}
.attendance_team>h1{
    font-family: PingFangSC-Medium;
    font-size: 20px;
    color: #333333;
    letter-spacing: 0.24px;
    margin:0;
    /* padding-left:20px; */
    padding:15px 0 13px 20px; 
    /* margin-bottom:20px; */
    line-height:28px;
    height: 28px;

}
.attendance_team_bottom{
    background: #ACBACE;
    border-radius: 0 0 4px 4px;
    height:35px;
    position: absolute;
    bottom:0;
    width:inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.attendance_team_bottom>button{
    border:none;
    font-family: PingFangSC-Medium;
    font-size: 13px;
    background: #ACBACE;
    color: #FFFFFF;
    letter-spacing: 0.16px;
    
}
.team-line{
    border-bottom: 1px solid #CCCCCC;
    height:1px;
    display:block;
    margin:0 20px;
    margin-bottom:17px;
}
.attendance-new-detail{
    height:680px;
    /* width:877px; */
    overflow-y: auto;
    background: #fff;
    background: #FFFFFF;
    /* box-shadow: 0 1px 5px 0 rgba(204,204,204,0.30); */
    border-radius: 1px 1px 0 0;
    padding:22px 10px;
    position: relative;
}
.new_title_detail{
    display:flex;
    justify-content: space-between;
    margin-top: 24px !important;
    margin-bottom: 14px !important ;
}
.new_title_detail>p{
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.19px;
}
.team-line-detail{
    margin:0;
    margin-bottom:17px;
  
}
.back_attendance{
    background: #A0ACBF;
    border-radius: 100px;
    height:30px;
    width:60px;
}
.kaoqin-common{
    margin-top:30px
}
.kaoqin-name{
    display: flex;
    align-items: center;
}
.kaoqin-common>h2{
    font-family: PingFangSC-Medium;
    font-size: 17px;
    color: #333333;
    letter-spacing: 0.2px;
    margin:0;
}
.kaoqin-name>input{
    margin:0;
    height:40px;
    width:300px;
    margin-left:24px;
    box-sizing: border-box
}
.kaoqin-door{
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #666666;
    letter-spacing: 0.19px;
    width:130px;
    height:22px;
    display: inline-block
}
.button-common,.button-common-date,.kaoqin-era,.button-common-area,.button-common-people{
    background: #FFFFFF;
    border: 1px solid #A0ACBF;
    border-radius: 100px;
    height:40px;
    min-width:120px !important;
    margin-right:10px;
}
.button-common-people{
    max-width:270px;
    overflow: hidden;
    white-space:nowrap;
}
.title-common{
    margin-top:15px;
}
.new-button-bottom{
    position: absolute;
    left:0;
    right:0;
    margin: auto;
    bottom:28px;
    display: flex;
    justify-content: center
}
.new-button-bottom>button{
    width:330px;
    height:55px;
    background: #14A4FA;
    border-radius: 3px;
    font-family: PingFangHK-Medium;
    font-size: 17px;
    color: #FFFFFF;
    letter-spacing: 0.27px;
}
.kaoqin-place{
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #666666;
    letter-spacing: 0.19px;
    height:22px;
    width:65px;
    display: inline-block;
    margin-right:20px;
}
.button-input{
    margin-bottom:0 !important;
    border-radius: 100px !important;
    text-align: center;
    width:120px;
    height:40px !important;
    box-sizing: border-box;
    border: 1px solid #A0ACBF !important;
}
.button-common-area{
    width:120px;
}
#map-area{
    z-index:3000;
    height:100%; 
    width:100%;
    position:fixed;
    /* background: #FF7072; */
    left:0;
    top:0;
    display: none
}
#map-content{
     position: absolute;
     left:0;
     right:0;
     top:0;
     bottom:0;
     height:473px;
     width:700px ;
     margin:auto;
     background: #FFFFFF;
     box-shadow: 0 1px 10px 0 rgba(204,204,204,0.30);
     border-radius: 1px;
}
#map-content>.kaoqin-title{
    height:40px;
    width:700px;
    background: #FFFFFF;
    box-shadow: 0 1px 5px 0 rgba(204,204,204,0.30);
    border-radius: 1px 1px 0 0;
    text-align: center;
    line-height: 40px;
}
.attendance-map-close{
    line-height:40px !important;
    cursor: pointer;
}
#container{
    background: #FFFFFF;
    box-shadow: 0 1px 10px 0 rgba(204,204,204,0.30);
    border-radius: 1px;
    height:260px;
    width:660px;
    position:relative;
    margin:10px 20px;
    box-sizing:border-box
}
.sure-place{
    margin:0;
    margin-top:30px;
    padding:0 20px;
}
.sure-place>li{
    padding:0 20px;
    height:35px;
    line-height:35px;
    border-bottom:2px solid #CCCCCC;
    box-sizing:border-box;
}
.place-button{
    padding-top:30px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.place-sure{
    background: #14A4FA;
    border-radius: 100px;
    width:120px;
    height:40px;
}
.title-cache-area{
    display:flex;
    
}
.btn-group-area{
    position:relative
}
.drop-menu-list{
   min-width: 143px !important;
}
.drop-menu-list>li{
    text-align: center
}

.kaoqin-date-choose{
    width:100%;
    height:100%;
    position: fixed;
    /* background: #FF7072; */
    left:0;
    top:0;
    display: none;
    z-index: 3000;
}
.kaoqin-date{
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin: auto;
    width:300px;
    height:400px;
    background: #FFFFFF;
    box-shadow: 0 1px 10px 0 rgba(204,204,204,0.30);
    border-radius: 1px;
}
.kaoqin-title{
    background: #FFFFFF;
    box-shadow: 0 1px 5px 0 rgba(204,204,204,0.30);
    border-radius: 1px 1px 0 0;
    height:40px;
    text-align: center;
    line-height: 40px;
}
.kaoqin-choose-week{
    margin-top:5px;
    margin-left:0;
    padding:0 20px;
}
.kaoqin-choose-week>li{
    margin-top:15px;
    height:22px;
    line-height:22px;
}
.kaoqin-choose-week>li>input{
    height:16px;
    width:16px;
    
}
.kaoqin-choose-week>li>span{
    margin-left:12px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.23px;
}
.divid-line{
    border-bottom: 1px solid #CCCCCC
}
.kaoqin-date-area{
    margin-top:30px;
    background: #14A4FA;
    border-radius: 100px;
    color:#fff;
    height:40px;
    width:120px;
    margin-left:90px;
}
.attendance_close_week{
    cursor: pointer;
    position: absolute;
    right:10px
}
.amap-sug-result {
    position: absolute;
    z-index: 4000;
    background-color: #fefefe;
    border: 1px solid #d1d1d1;
    bottom: auto;
}
#myPageTop {
   top:180px;
}


.organization_team_box{
    height: 90px;
    border-bottom: 1px solid #ddd;
}
.organization_team_head>p{
    font-size: 18px;
    color: #333333;
    letter-spacing: 0.2px;
    float: left;
    padding: 44px 20px 20px 20px;
}
.organization_team_btn{
    float: right;
    margin: 30px 44px 20px 20px;
}
.organization_team_btn>li{
    width: 100px;
    height: 38px;
    font-size: 15px;
    letter-spacing: 0.18px;
    float: left;
    margin: 0 10px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-weight: 200;
}
.organization_team_btn .management_team{
    border: 1px solid #4584FF;
    border-radius: 4px;
    color: #4584FF;
}
.organization_team_btn .invite_members{
    background: #4584FF;
    border: 1px solid #4584FF;
    border-radius: 4px;
    color: #fff;
}
.organization_team_dept_box{
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    margin: 0;
}
.organization_team_dept_box>li{
    height: 50px;
    padding: 0 20px;
}
.organization_team_dept_ctn{
    font-size: 15px;
    color: #333333;
    letter-spacing: 0.16px;
    cursor: pointer;
    line-height: 50px;
    margin: 0;
}
.organization_team_single_box{
    padding: 20px;
    margin: 0;
}   
.organization_team_single_box>li{
    cursor: pointer;
}
.organization_team_single_img_box{
    float: left;
    height: 38px;
    width:38px;
    border-radius: 50%;
    overflow: hidden;
    background: #14A4FA;
}
.organization_team_single_name{
    float: left;
    margin-left: 10px;
    line-height: 38px;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.18px;
}
.invite_members_md{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.30);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 111;
}
.invite_members_box{
    width: 320px;
    height: 444px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    padding: 20px 40px;
}
.invite_members_close{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
.invite_members_search_box{
    width: 320px;
    height: 40px;
    background: #F4F5F7;
    margin-top: 38px;
    border-radius: 6px;
}
.invite_members_icon{
    line-height: 40px;
    color: #999;
    margin: 10px;
}
.invite_members_title{
    margin: 30px 0 10px 0;
    font-size: 16px;
    color: #333333;
    letter-spacing: 1.33px;
}
.invite_members_search{
    width: 266px;
    height: 29px!important;
    background: #F4F5F7!important;
    border: none;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
}
.invite_members_url_input{
    float: left;
    width: 220px;
    height: 28px!important;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
.invite_members_url_btn{
    float: right;
    height: 36px;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 36px;
    padding: 0 10px;
    letter-spacing: 0.18px;
    text-align: center;
    background: #4584FF;
    border-radius: 4px;
}
.invite_members_qrtitle{
    font-size: 16px;
    color: #333333;
    letter-spacing: 1.33px;
    margin: 30px 0 10px 0;
}
.organization_chart_md{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.30);
    left: 0;
    top: 0;
    z-index: 111;
}
.organization_chart_box{
    position: absolute;
    right: 0;
    top: 0;
    width: 660px;
    height: 100%;
    background: #fff;
}
.organization_chart_head{
    height: 88px;
    border-bottom: 1px solid #ddd;
    padding: 0 10px 0 20px;
    position: relative;
    overflow: hidden;
}
.organization_chart_close{
    position: absolute;
    right: 30px;
    top: 30px;
}
.organization_chart_head_tab{
    margin: 0;
    margin-top: 46px;
}
.organization_chart_head_tab > li{
    float: left;
    font-size: 16px;
    letter-spacing: 0.18px;
    text-align: center; 
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.18px;
    cursor: pointer;
    position: relative;
    padding-bottom: 20px;
}
.organization_chart_group{
    margin-left: 50px;
}
.organization_chart_body{
    height: 100%;
}
.organization_chart_tab{
    margin: 0;
    width: 200px;
    float: left;
    height: 100%;
    border-right: 1px solid #d8d8d8;
}
.organization_chart_tab > li{
    overflow: hidden;
    cursor: pointer;
}
.organization_chart_tab > li>i{
    float: left;
    margin: 16px 12px 16px 41px;
    color: #959595
} 
.organization_chart_tab > li>p{
    float: left;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.18px;
    margin-top: 16px;
} 
.organization_chart_ctn_basic_box{
    float: left;
    width: 459px;
    margin: 0;
}
.organization_chart_ctn_basic{
    margin: 0;
}
.organization_chart_ctn_basic>li{
    /* padding: 20px 20px; */
}
.organization_chart_ctn_basic_title>p{
    float: left;
    margin: 38px 21px 20px 52px;
    font-size: 15px;
    color: #333333;
    letter-spacing: 0.18px;
}
.organization_chart_ctn_basic_title>input{
    float: left;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin: 30px 8px 20px 0;
    width: 282px;
}
.organization_chart_ctn_basic_case>p{
    font-size: 15px;
    color: #333333;
    letter-spacing: 0.18px;
    margin: 5px 21px 0px 20px;
    float: left;
}
.organization_chart_ctn_basic_case>textarea{
    width: 285px;
    height: 100px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    resize:none;
    float: left;
}
.organization_chart_ctn_basic_save{
    width: 296px;
    height: 50px;
    background: #4584FF;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 17px;
    letter-spacing: 0.27px;
    line-height: 50px;
    margin: 100px 82px 0 82px;
    cursor: pointer;
}

.organization_chart_ctn_master_box{
    float: left;
    width: 459px;
    margin: 0;
}
.organization_chart_ctn_master{
    margin: 0;
    margin-top: 38px;
}
.organization_chart_ctn_master>li{
    overflow: hidden;
    margin: 10px 0;
}
.organization_chart_ctn_master>li>p{
    float: left;
    font-size: 15px;
    color: #333333;
    letter-spacing: 0.18px;
}
.organization_chart_ctn_master_name>p:nth-of-type(1){
    margin: 0 30px 0 21px;
}
.organization_chart_ctn_master_tel>p{
    margin: 5px 20px 0 51px;
}
.organization_chart_ctn_master_tel>input{
    float: left;
    width: 175px;
    height: 26px;
}
.organization_chart_ctn_master_tel>div{
    float: left;
    background: #4584FF;
    border-radius: 4px;
    width:100px;
    height: 36px;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0.18px;
    text-align: center;
    line-height: 36px;
    margin-left: 10px;
    cursor: pointer;
}
.organization_chart_ctn_master_qd>p{
    margin: 5px 20px 0 51px;
}
.organization_chart_ctn_master_qd>input{
    float: left;
    width: 285px;
    height: 26px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
.organization_chart_ctn_master_change>p{
    margin: 5px 20px 0 51px;
}
.organization_chart_ctn_master_change>input{
    float: left;
    width: 285px;
    height: 26px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
.organization_chart_ctn_master_save{
    width: 296px;
    height: 50px;
    background: #4584FF;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 17px;
    letter-spacing: 0.27px;
    line-height: 50px;
    margin: 100px 82px 0 82px;
    cursor: pointer;
}
.organization_chart_ctn_child_box{
    float: left;
    width: 459px;
    margin: 0;
}   
.organization_chart_ctn_child{
    margin: 0;
}
.organization_chart_ctn_child>li>div{
    width: 38px;
    height: 38px;
    overflow: hidden;
    border-radius: 50%;
    background: #14A4FA;
    float: left;
    margin: 0 10px 0 20px;
}
.organization_chart_ctn_child>li>p:nth-of-type(1){
    float: left;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.18px;
    line-height: 40px;
}
.organization_chart_ctn_child>li>p:nth-of-type(2){
    float: right;
    font-size: 16px;
    color: #FB7474;
    letter-spacing: 0.18px;
    line-height: 40px;
    margin-right: 30px;
}
.organization_chart_ctn_child_add{
    background: #4584FF;
    border-radius: 4px;
    width: 140px;
    height: 40px;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0.18px;
    text-align: center;
    line-height: 40px;
    margin: 30px 0 30px 20px;
    cursor: pointer;
}
.organization_chart_change_box{
    overflow: hidden;
}
.color_li{
    background: #F1F6FD;
}
.color_icon{
    color: #4584FF!important;
}
.color_text{
    color: #4584FF!important;
}
.bottom_line{
    border-bottom: 2px solid #4584FF;
}

.organization_chart_group_list_box{
    margin: 0;
    width: 200px;
    float: left;
    height: 100%;
    border-right: 1px solid #d8d8d8;
}
.organization_chart_group_add{
    width: 140px;
    height: 40px;
    border: 1px solid #4584FF;
    border-radius: 4px;
    font-size: 15px;
    color: #4584FF;
    letter-spacing: 0.18px;
    line-height: 40px;
    text-align: center;
    margin: 30px 30px 20px 30px;
    cursor: pointer;
}
.organization_chart_group_list{
    margin: 0;
}
.organization_chart_group_list>li{
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    color: #333333;
    letter-spacing: 0.17px;
    cursor: pointer;
}
.organization_chart_group_detail_box{
    float: left;
    width: 459px;
    margin: 0;
}
.new_group_name{
    float: left;
    width: 200px;
    height: 26px!important;
    margin-top: 30px;
    margin-left: 20px;
}
.new_group_cancle{
    float: left;
    border: 1px solid #4584FF;
    border-radius: 100px;
    width: 76px;
    height: 28px;
    font-size: 15px;
    color: #4584FF;
    letter-spacing: 0.14px;
    text-align: center;
    margin-left: 20px;
    margin-top: 34px;
    line-height: 30px;
    cursor: pointer;
}
.new_group_save{
    float: left;
    border: 1px solid #4584FF;
    border-radius: 100px;
    width: 76px;
    height: 28px;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0.14px;
    margin-left: 20px;
    margin-top: 34px;
    background: #4584FF;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
.invite_new_member,.adjust_department,.batch_delete{
    width: 100px;
    height: 36px;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0.18px;
    text-align: center;
    line-height: 36px;
    margin: 26px;
    float: left;
    background: #4584FF;
    border-radius: 4px;
    cursor: pointer;
}
.new_group_box{
    margin: 0;
}
.new_group_box>li:nth-of-type(1){
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.23px;
    padding-left: 60px;
    font-weight: 500;
}
.new_group_box>li:nth-of-type(1)>p{
    float: left;
}
.new_group_box>li{
    margin: 10px 0;
}
.new_group_box>li>input{
    margin: 0 20px;
    float: left;
}
.new_group_box>li>p{
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.23px;
    float: left;
}
.new_group_box>li>p:nth-of-type(1){
    width: 136px;
}
.new_group_box>li>p:nth-of-type(2){
    width: 110px;
}
.new_group_ctn{
    /* display: none; */
}
.organization_add_group_popover{
    width: 252px;
    height: 144px;
    background: #fff;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 2px 4px 0 rgba(128,128,128,0.50);
    border-radius: 4px 0 0 0 4px 4px 4px;
}
.organization_add_group_title{
    font-size: 15px;
    color: #333333;
    letter-spacing: 0.18px;
    margin: 0 95px;
}
.organization_add_group_name{
    float: left;
    font-size: 15px;
    color: #333333;
    letter-spacing: 0.18px;
    margin-top: 18px;
}
.organization_add_group_input{
    background: #F3F3F3;
    border-radius: 4px;
    width: 158px;
    height: 26px!important;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}
.organization_add_group_cancel{
    border: 1px solid #C5C5C5;
    border-radius: 4px;
    width: 110px;
    height: 32px;
    font-size: 15px;
    color: #333333;
    letter-spacing: 0.18px;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    float: left;
}
.organization_add_group_finish{
    background: #4584FF;
    border: 1px solid #4584FF;
    border-radius: 4px;
    width: 110px;
    height: 32px;
    color: #fff;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    float: left;
    margin-left: 25px;
}
.organization_add_group_bottom{
    margin-top: 24px;
}

.branch_box{
    margin: 30px 20px 0;
    position: relative;
}
.branch_name{
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.18px;
    float: left;
}
.branch_icon{
    color: #666;
    float: right;
    font-size: 18px;
    cursor: pointer;
}
.branch_ctn{
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(128,128,128,0.50);
    border-radius: 3px;
    width: 120px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 20px;
    display: none;
}
.branch_ctn>div{
    font-size: 15px;
    color: #333333;
    letter-spacing: 0.16px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.branch_change_name{
    border-bottom: 1px solid #F3F3F3;
}
.branch_operation{
    display: none;
}
.organization_chart_group_delete_box{
    width: 540px;
    height: 262px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(128,128,128,0.50);
}
.organization_chart_group_delete_head{
    background: #F4F5F7;
    height: 60px;
}
.organization_chart_group_delete_head>p{
    font-size: 18px;
    color: #333333;
    letter-spacing: 0.22px;
    float: left;
    margin-top: 18px;
    margin-left: 251px;
}
.organization_chart_group_delete_close{
    float: right;
    color: #999999;
    margin-right: 25px;
    margin-top: 18px;
}
.organization_chart_group_delete_ctn{
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.19px;
    margin: 40px 20px 60px 20px;
}
.organization_chart_group_delete_bottom{
    margin-left: 210px;
}
.organization_chart_group_delete_cancel{
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 138px;
    height: 38px;
    font-size: 15px;
    color: #333333;
    letter-spacing: 0.18px;
    text-align: center;
    line-height: 38px;
    float: left;
    cursor: pointer;
}
.organization_chart_group_delete_ensure{
    border: 1px solid #4584FF;
    border-radius: 4px;
    background:  #4584FF;
    width: 138px;
    height: 38px;
    font-size: 15px;
    color: #fff;
    letter-spacing: 0.18px;
    text-align: center;
    line-height: 38px;
    margin-left: 20px;
    float: left;
    cursor: pointer;
}
