{% extends "zerver/emails/compiled/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_uri }}/email_logo.png"/>
{% endblock %}

{% block content %}
<p>{{ user_profile.full_name }},您好!</p>

<p>您可以用下列链接登录到您的e建联团队{{ user_profile.realm.name }}:
</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            <a href="{{ user_profile.realm.uri }}">{{ user_profile.realm.uri }}</a>
        </td>
    </tr>
</table>

<p>与您账户相关联的邮箱地址是 <b>{{ user_profile.email }}</b>.</p>


<p>感谢使用e建联!</p>
{% endblock %}
