{% extends "zerver/emails/compiled/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_uri }}/day2_1.png"/>
{% endblock %}

{% block content %}
<p>您好!</p>

<p>让我们谈谈话题. 管理话题是用好e建联的关键.</p>

<img src="{{ email_images_base_uri }}/day2_2.png"/>

<p>话题类似邮件的主题，只是比主题短小一点而已。两三个词足矣。别想多了，每条消息都可以编辑的!</p>

<ul>
    <li>好的话题：设计模型、bug 345</li>
    <li>不好的话题: "人民对新设计模式怎么看？", "我正在看bug 345"。</li>
</ul>

<img src="{{ email_images_base_uri }}/day2_3.png"/>

<p>为什么使用话题？两点。其一，使聊天更清晰；其二，使得你离开时能更有效跟进：阅读跟你相关的主题，忽略无关主题!</p>

<p><a href="{{ realm_uri }}">赶快尝试吧.</a></p>

<p>谢谢,<br />知工网络科技</p>
{% endblock %}

{% block manage_preferences %}

<p>
    <a href="{{ realm_uri }}/#settings">管理邮箱设置</a> |
    <a href="{{ unsubscribe_link }}">从欢迎邮箱退订</a>
</p>
{% endblock %}
