{% extends "zerver/emails/compiled/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_uri }}/invitation_reminder.png"/>
{% endblock %}

{% block content %}
<p>您好!
</p>
<p>
    友情提示 {{ referrer_name }} (<a href="mailto:{{ referrer_email }}">{{ referrer_email }}</a>) 期待您在e建联上加入他们的团队, 在那里聊天工作更有效率 - 一键联通好管理!
</p>
<p>
    点击下下面链接起步:
    <a class="button" href="{{ activate_url }}">完成注册</a>
</p>
<p>
    如果有任何问题我们在这里等您 <a href="mailto:{{ support_email }}">{{ support_email }}</a> .
</p>
<p>
    顺颂商祺,<br />
    知工网络科技
</p>
{% endblock %}

