{% extends "zerver/emails/compiled/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_uri }}/registration_confirmation.png"/>
{% endblock %}

{% block content %}
<p>您好!
</p>
<p>
    {{ referrer.full_name }} ({{ referrer.email }}) 期待您加入e建联 -- e键联通好管理.
</p>
<p>
    请点击下面链接启动:
    <a class="button" href="{{ activate_url }}">完成注册</a>
</p>
<p>
    如果您有任何问题请联系我们： <a href="mailto:{{ support_email }}">{{ support_email }}</a>.
</p>
<p>
    顺颂商祺,<br />
    知工网络科技
</p>
{% endblock %}
