{% extends "zerver/emails/email_base_messages.html" %}

{% block preheader %}
    {% for recipient_block in messages %}
        {% for sender_block in recipient_block.senders %}
            {% for message_block in sender_block.content %}
            {{ message_block.html|safe }}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block content %}
    {{ name }}, 您好!

    <p>
        在您离开时您收到了 {{ message_count }} 新{% if group_pm %} 组 私{% elif private_message %} 私{% endif %} 信{{ message_count|pluralize }}{% if mention %} 您被提到{% endif %}!
    </p>

    {% if show_message_content %}
    <div id='messages' style="width: 600px;font-size: 12px;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;overflow-y: auto;">
        {% for recipient_block in messages %}
        <div class='recipient_block' style="{% if not recipient_block.header.stream_message %}background-color: #f0f4f5;{% endif %}border: 1px solid black;margin-bottom: 4px;">
            <div class='recipient_header' style="{% if recipient_block.header.stream_message %}background-color: #9ecaff;{% else %}color: #ffffff;background-color: #444444;{% endif %}border-bottom: 1px solid black;font-weight: bold;padding: 2px;">{{ recipient_block.header.html|safe }}</div>
            <div class='message_content' style="{% if not recipient_block.header.stream_message %}background-color: #f0f4f5;{% endif %}margin-left: 1px;margin-right: 2px;">
                {% for sender_block in recipient_block.senders %}
                    {% if sender_block.sender %} <div class="message_sender" style="font-weight: bold;padding-top: 1px;">{{ sender_block.sender }}</div>{% endif %}
                    {% for message_block in sender_block.content %}
                    <div class='message_content_block' style="padding-left: 6px;font-weight: normal;">
                        {{ message_block.html|safe }}
                    </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}


    <p>
        <a href="{{ realm_uri }}">点击这里去登录e建联并阅读您的新信息:</a>
        {% if reply_to_zulip %}
        {% endif %}
    </p>

    {% if reply_warning %}
    <p>请勿回复本邮件.请登录e建联然后回复未读信息.</p>
    {% endif %}

    <p>
        顺颂商祺,
        <br />
        知工网络科技
    </p>
{% endblock %}

{% block manage_preferences %}
<p><a href="{{ realm_uri }}/#settings">管理邮件配置</a> | <a href="{{ unsubscribe_link }}">退订未读信息邮件</a></p>
{% endblock %}

