{% extends "zerver/emails/compiled/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_uri }}/email_logo.png"/>
{% endblock %}

{% block content %}
<p>您好!</p>
<p>通知：您的e建联账户刚刚有一次新登录.</p>
<p><b>登录详情:</b></p>
<blockquote>
    <p>服务器: <a href="{{ realm_uri }}" target="_blank">{{ realm_uri }}</a></p>
    <p>帐号: <a href="mailto:{{ user_email }}" target="_blank">{{ user_email }}</a></p>
    <p>时间: {{ device_info.login_time }}</p>
    <p>设备: {{ device_info.device_browser if device_info.device_browser else 'An unknown browser' }} on {{ device_info.device_os if device_info.device_os else 'an unknown operating system' }}.</p>
    <p>IP地址: {{ device_info.device_ip }}</p>
</blockquote>
<p>如果这不是您登录的，或您的帐号有问题，请立即联系我们：<a href="mailto:{{ support_email }}">{{ support_email }}</a>.</p>
<p>如果这是您的操作，请保存本通知.</p>
<p>谢谢,<br />知工网络科技</p>
{% endblock %}

