{% extends "zerver/emails/compiled/email_base_default.html" %}

{% block content %}
<p>
    {% if no_account_in_realm %}
        某人（也许是您本人）请求来密码重置，邮箱是 {{ email }}
        在 {{ realm_uri }}, 但你在 {{ realm_uri }} 中没有活动账户.

        {% if accounts %}
            {% if multiple_accounts %}
            然而，你在下列团队中有活动账户.
            <ul>
                {% for account in accounts %}
                <li>{{ account.realm.uri }}</li>
                {% endfor %}
            </ul>
            您可以尝试在团队中登录或重置密码.
            {% else %}
            H然而，您在组织 {{ accounts[0].realm.uri }} 中有活跃账户;
            您可以尝试登录或重置密码.
            {% endif %}
        {% endif %}
    {% else %}
        您需要新的密码, {{ email }}.<br />
        点击下面的链接来更新密码:<br />
        <a class="button" href="{{ reset_url }}">重置密码</a>
    {% endif %}
</p>
<p>
    谢谢,<br />
    您e建联的朋友
</p>
{% endblock %}
