<li class="collection_tip fix">
    <div class="collection_top_img_box">
        <i class="iconfont icon-quanbu-copy collection_icon"></i>
    </div>
    <p class="collection_top_title">全部收藏</p>
</li>