<div id="feed-back-content"  class="feed-back-show">
    <div class="headback-title">
        <h1>反馈</h1>
        <i class="iconfont icon-guanbiUI icon-close-guanbi"></i>
    </div>
    <div class="type-area">
        <textarea  class="textarea-type" placeholder="请输入反馈内容...."></textarea>
    </div>
    <div class="feedback-back">
        <button class="feadback-cancel feedback-button-common">取消</button>
        <button class="feadback-send feedback-button-common">发送</button>
    </div>
</div>