<div id="feed-back-content"  class="feed-back-show {{#if tooTip}}feedback-back-tooTip {{/if}}">
    <div class="headback-title">
        {{#if tooTip}}
        <h1>提示</h1>
        {{else}}}
        <h1>反馈</h1>
        {{/if}}
        <i class="iconfont icon-guanbiUI icon-close-guanbi"></i>
    </div>
    <div class="type-area">
        {{#if tooTip}}
        <p>抱歉，您有必填项未填，请完善信息</p>
        {{else}}
        <textarea  class="textarea-type" placeholder="请输入反馈内容...."></textarea>
        {{/if}}
    </div>
    <div class="feedback-back">
        {{#if tooTip}}
         <button class="feadback-send-sure feedback-button-common">确定</button>
        {{else}}
        <button class="feadback-cancel feedback-button-common">取消</button>
        <button class="feadback-send feedback-button-common">发送</button>
        {{/if}}
    </div>
</div>